[2019-03-03 09:01] davidgarsan commented on #148
Well, call me crazy, but IMO the point is to change the direction, not the physics.

[2019-03-03 13:40] cmeeren opened #154 "How to fill parent in primary scroll direction?"
react-window requires a numeric `height` for vertical lists. I'd like my list to vertically fill all available space. Is this possible with react-window? Is that what #5 is about? (I'm new to the React world and haven't heard of AutoSizer.)

[2019-03-03 16:05] bvaughn commented on #154
You can use the [`react-virtualized-auto-sizer` package](https://www.npmjs.com/package/react-virtualized-auto-sizer) for this. Here's an example:
https://codesandbox.io/s/3vnx878jk5

[2019-03-03 16:05] #154 closed

[2019-03-03 16:21] bvaughn commented on #6
Hi @trxcllnt 👋

If you'd be interested in sharing a PR, I'd be happy to take a look. You would want to make it against the `issues/6` branch (WIP PR #102).

At a glance, `linear-layout-vector` doesn't look like it's got any tests or being used too heavily, so I would have a little bit of initial reluctance but I'd still be willing to take a look. I'd also want to look at how much weight it adds to

[2019-03-03 16:36] bvaughn commented on #148
@davidgarsan My question was sincere. I don't think sarcasm is necessary.

Can you point me at some reference RLT grids examples? I have not been able to find any from my own searches, so I don't know how scrolling/swiping is _supposed_ to be behave.

[I did try asking on TWitter](https://twitter.com/brian_d_vaughn/status/1101268926682394624) for people with RTL expertise to look at the Code Sandb

[2019-03-03 16:52] bvaughn commented on #148
Based on this (maybe stupid?) test sandbox, I think you're right that the swipe in my previous example was wrong:
https://qzqylo21zq.codesandbox.io/

[2019-03-03 18:59] cmeeren commented on #154
Just what I needed, thanks! :)

[2019-03-03 19:29] erikjalevik commented on #153
Thank you for the quick resolution!

I am just trying out the latest master in my project on Windows, but for some reason can't get it to build properly. `npm install` ran through fine, but then Webpack is spitting out a bunch of errors like:

[code]

The `index.esm.js` file in the `dist` folder is just a list of exports, whereas in my previously installed version it seems to be a bundle. Any idea

[2019-03-03 19:37] bvaughn commented on #153
No, sorry. Windows environment is not something I have the bandwidth to support, but it should work so far as I know.

[2019-03-03 20:33] piecyk commented on #110
Better approach would be to pass `Scrollbars` as `outerElementType`

[code]

example https://codesandbox.io/s/vmr1l0p463

[2019-03-03 20:38] bvaughn commented on #110
I love how many advanced things are possible using `outerElementType` or `innerElementType`

[2019-03-03 20:46] bvaughn commented on #153
I think I've fixed this as well as I intend to for the time being with 97bd7e0 and c747a29. The list case I mentioned above is something I may follow up on later.

The fix will go out in the next release.

[2019-03-03 20:46] #153 closed

[2019-03-03 20:47] bvaughn commented on #144
Since this issue isn't really actionable, I'm going to close it – but let's keep the conversation going. Maybe I'll add a section to the FAQs based on the outcome!

[2019-03-03 20:47] #144 closed

[2019-03-03 21:03] erikjalevik commented on #153
I tried it on Mac and it built fine there. However, I noticed a peculiarity. When first running the new code, it had no effect whatsoever.

I stepped into the code to take a look, and the `scrollToItem` function uses `estimatedTotalWidth` to decide whether to offset the horizontal scrollbar size or not. However, this estimate by default (5* 50) came in lower than my viewport width, despite there b

[2019-03-04 02:32] bvaughn opened #157 "Investigate bundle size regression"
Adding `FixedSizeList` from v1.5.2 to a create-react-app app adds +2.07 KB to the production build. Doing the same with a build from master same increases the size by an additional +2.43 KB. My guess is that this is caused by 97bd7e0, given that [almost nothing else has changed since 1.5.2 was released](https://github.com/bvaughn/react-window/compare/7c3c558...master).

[2019-03-04 03:05] bvaughn commented on #157
Looks like this was the result of how I was testing (`yarn build` and `yarn add /path/to/local/project`). When I `npm pack` first then the build size is only slightly larger than v1.5.2 (`+2.23 KB` for the #150 branch vs `2.07 KB` for v1.5.2)

This is still an increase (~160 bytes), but there's some added behavior as well so some small amount of increase is expected.

[2019-03-04 07:05] davidgarsan commented on #148
@bvaughn I guess got lost in translation, I was simply was surprised, since I work in an arabic oriented product, and for me was obvious.
But in the end I prefer take this not too serious.
The main think is that you've done a great job here that we all really appreciate and I just want it to keep the high standards while being open to other cultural approaches.
And apparently that's happening, tha

[2019-03-04 09:29] trxcllnt commented on #6
@bvaughn no sweat, I totally understand. It was a thing I did years ago over xmas IIRC. I'll clean it up and ensure it lands with a full test suite. Don't worry about incurring an extra dependency either. It's such a small class, I'm happy to contribute it directly.

After I commented, I remembered I had the demo I did the port for: https://github.com/trxcllnt/virt-list. Hit up that GH pages site

[2019-03-04 14:49] ffjanhoeck opened #158 "Use CSS Grid for FixedSizeGrid"
Hey,

I want to use the CSS Grid (display: grid) for the infinity scrolling mechanism.
But currently I don't see that I am able to change the styles of the inner div element. The FixedSizeGrid Component just have properties to apply some styles to the outer div. Is there a workaround for it or maybe a finished example how to do it?

[2019-03-04 15:39] bvaughn commented on #158
You would need to use the `innerElementType` prop to customize the styles of the inner div...

[code]

...although I would not expect `display: grid` to work or have any meaningful change since items are all explicitly absolutely positioned.

[2019-03-04 15:39] #158 closed

[2019-03-04 15:43] bvaughn commented on #148
Thanks for the kind words. I hope to land the larger RTL PR soon. I appreciate your help verifying the expected behavior.

[2019-03-04 16:10] bvaughn commented on #148
PR #156 has been merged. This will go out with the next release, once I tackle the bundle size and try to reduce it a bit.

[2019-03-04 16:10] #148 closed

[2019-03-04 16:16] davidgarsan commented on #148
Thanks so much @bvaughn !
I'll have the opportunity to do intensive testing of the new feature soon.

[2019-03-04 17:55] bvaughn commented on #157
I tried adding [`terser-js`](https://github.com/terser-js/terser) by way of [`rollup-plugin-terser`](https://www.npmjs.com/package/rollup-plugin-terser), specifically hoping to take advantage of its mangle properties option to shorten "private" methods like `_onScrollHorizontal` _but_ this seemed to break tree shaking which naturally resulted in a significant increase in bundle size. This might be

[2019-03-04 17:55] #157 closed

[2019-03-04 18:08] bvaughn commented on #148
v1.6.0 just released with this feature.

[2019-03-04 18:08] bvaughn commented on #153
v1.6.0 just released with this fix.

[2019-03-04 18:24] bvaughn commented on #157
Out of curiosity, I tried a stupid naive approach of minifying "private" variables myself using [`rollup-plugin-postprocess`](https://github.com/developit/rollup-plugin-postprocess) and was able to shave an additional 336 B of the bundle size when using the list component.

[code]

This is a pretty sketchy approach though ^ 😄

[2019-03-04 18:49] bvaughn commented on #157
I think the tree shaking problem might have actually been due to the `/*#__PURE__*/` comments being mangled. Need to re-check this once I figure out the RTL bug.

[2019-03-04 18:55] bvaughn commented on #148
Looks like this is broken for non-Chrome browsers. "scroll" event looks very different between Chrome and Firefox/Safari when CSS `direction: rtl`. Chrome events have a scrollLeft that's a high number (like scrollWidth - the delta value). Firefox/Safari has one that's a negative number.

Based on the [Mozilla docs](https://developer.mozilla.org/en-US/docs/Web/API/Element/scrollLeft) it looks like

[2019-03-04 19:12] bvaughn commented on #148
I think I fixed the problem in e0d0dce but I'm not very happy with the fix. Suggestions welcome.

[2019-03-04 19:29] bvaughn commented on #148
Looks like it's still broken on Edge:
https://twitter.com/_wildservice/status/1102651598411583488

I assume it's something silly like Safari and returning invalid scrollLeft when you reach the beginning (right) of the list.

PRs would be welcome for this if you'd like to troubleshoot it some. I'm burned out.

[2019-03-04 19:39] bvaughn commented on #157
The above issue looks related to https://github.com/TrySound/rollup-plugin-terser/issues/15

[2019-03-04 19:46] bvaughn opened #159 "RTL support is slightly broken for Safari and Edge"
Based on the [Mozilla docs](https://developer.mozilla.org/en-US/docs/Web/API/Element/scrollLeft) it looks like Chrome is reports incorrect values for `scrollLeft` when the direction is "rtl":

Rather than reporting a range of <= 0, Chrome reports the distance in pixels measured from the left. (View the console output in [this repro case](https://qzqylo21zq.codesandbox.io/).)

I've tried to accommo

[2019-03-04 19:46] bvaughn commented on #148
Follow up issue #159

[2019-03-04 23:24] Rom325 opened #161 "What is the best way to circumvent itemSize memoization?"
Hi @bvaughn and thank you for react-window! I'm having an issue with the use case which can be reduced to the following gist https://codesandbox.io/s/0q33jnx07n
How to repro:
1. Observe that only 'expandable' items are expected to have an increased height.
2. Observe that item titled "three" has correct height
3. Press "expand" button at the bottom.
4. Observe that item previously titled as "three

[2019-03-05 00:49] bvaughn commented on #161
Yes. That's what that method is for. 😄

[2019-03-05 00:49] #161 closed

[2019-03-05 10:35] davidgarsan commented on #159
At least in the case of Safari, the `scrollLeft` high value seems the because of the bounce effect when reaching the limit of scroll in a RTL scenario.

[2019-03-06 06:05] davidgarsan commented on #159
A working progress [branch](https://github.com/bvaughn/react-window/pull/162) is on going.

[2019-03-06 16:51] withintheruins14 opened #163 "Scrolling the container without a row index"
Might you have a suggestion for the best way to scroll down a "screenful"? I realize the api uses row indexes and it's awesome how it avoids blocking reads/writes to the refed dom's scrollTop and that has been great for me so far. But I do need to just move down a screenful and I'd prefer to not track the current row. Would you suggest directly using the window ref? Thanks!

[2019-03-06 17:03] bvaughn commented on #163
Sorry. This is going to be necessary.

My suggestion:
* Use `onItemsRendered ` to track the visible indices
* Use a `ref` to call the `scrollToItem` method

Proof of concept:
https://codesandbox.io/s/8z8mm7ov7l

[2019-03-06 17:03] #163 closed

[2019-03-06 17:07] withintheruins14 commented on #163
That will do it, thanks!

[2019-03-06 19:01] nik72619c opened #164 "React-window not working with React.lazy()"
React.lazy() requires to give a Suspense tag as its parent but cannot be provided when implementing windowing in react. How can I lazy load the row component that is rendered by FixedSizeList??

Could anyone help me with this issue?
@bvaughn @jgoz @moroshko @pluma

[2019-03-06 19:05] bvaughn commented on #164
`Suspense` does not need to be the _parent_, just an ancestor (somewhere above the `lazy` component in the tree).

Example:
https://codesandbox.io/s/vn27kjv3r7

[2019-03-06 19:05] #164 closed

[2019-03-06 19:09] nik72619c commented on #164
the problem is i am rendering something like:-
`  <List
    height={150}
    itemCount={this.state.todoArray.length}
    itemSize={35}
    width={300}
    itemData={this.state.todoArray}
    Complete={this.Complete}

    {ListItem}
  </List>`

[2019-03-06 19:10] nik72619c commented on #164
the problem is i am rendering something like:-

  <List
    height={150}
    itemCount={this.state.todoArray.length}
    itemSize={35}
    width={300}
    itemData={this.state.todoArray}
    Complete={this.Complete}

    {ListItem}
  </List>

[2019-03-06 19:11] nik72619c commented on #164
The ListItem component is lazy loaded...what should I do in this case?

[2019-03-06 19:12] nick-keller opened #165 "WindowScroller performance"
Let me start off by a huge thank you for this library, awesome work here 👏
I want to have a full page list but I am wondering if the perfs are great...

As explained in #30 I started implementing WindowScroller this myself.
Basically, I am doing two things:
1. Force the style height to 100% `<FixedSizeList style={{ height: '100%', }}>`
2. Add a ref `<FixedSizeList ref={this.listRef}>` and call `sc

[2019-03-06 19:14] nik72619c commented on #164
I added suspense to the  top of List but it throws an error

[2019-03-06 19:15] bvaughn commented on #165
This question is a bit too broad for me to be able to tackle right now. 😦

The suggested/supported way of rendering a full page list/grid is using the [`react-virtualized-auto-sizer`](https://www.npmjs.com/package/react-virtualized-auto-sizer) component, like so: [codesandbox.io/s/3vnx878jk5](https://codesandbox.io/s/3vnx878jk5)

If you're writing your own custom solution, I'm afraid you're on you

[2019-03-06 19:15] #165 closed

[2019-03-06 19:15] bvaughn commented on #164
I literally showed an example of a lazy-loaded list item / row component in the sandbox I linked to.

[2019-03-06 19:21] nik72619c commented on #164
Resolved it...my bad
Thanks a tonne for the guidance @bvaughn :)

[2019-03-06 19:22] bvaughn commented on #164
Glad you got it solved 👍

[2019-03-06 19:32] nik72619c commented on #164
How should I pass a function down to the row?

[2019-03-06 19:33] bvaughn commented on #164
`itemData` – https://react-window.now.sh/#/examples/list/memoized-list-items

[2019-03-06 20:26] nik72619c commented on #164
Is it the absence of refactoring shouldComponentUpdate that the list flickers or re-renders on scrolling?

[2019-03-07 12:53] SanzenDev commented on #100
hello, I use FixedSizedList inside a material-ui TableBody so my question is it possible to disable the default 'div' of outerElementType? because instead of TableBody then TableRow, it's TableBody, div then TableRow, and the checkbox of each row of TableBody does not show

[2019-03-07 15:49] bvaughn commented on #100
No. The two element structure is an important part of how react-window works.

[2019-03-08 00:17] apazzolini opened #166 "Fixed grid headers with CSS position sticky"
Hi @bvaughn,

I'm sure you're really tired of this request, but per [your comment here](https://github.com/bvaughn/react-window/issues/69#issuecomment-427364423) I think I might have a lightweight-enough solution for you to consider.

This solution keeps browser-native scrolling, doesn't require any ScrollSync-esque behavior, and only requires a few changes to the `createGridComponent` render meth

[2019-03-08 03:16] bvaughn commented on #166
You're welcome to submit a PR if you're interested. I am willing to take a look and give it consideration!

I'll warn up front that I'm reluctant to add complexity or scope to grid or list for a feature that I don't think is either essentially for accessibility _or_ needed by a significant percentage of users.

Perhaps it's something we could manage with an add-on or a separate entry point though?

[2019-03-08 03:27] bvaughn commented on #125
Took me a bit, but I added a section to the FAQs.

[2019-03-08 16:00] bvaughn commented on #166
Okay. Here's what I think!

I don't plan on taking any personal action on this issue, so I'm going to close it. (I do this to help myself manage the projects I maintain.)

I would be happy to look at a PR and discuss pros and cons for this, given what I said above. So let's talk more if you're interested in that!

[2019-03-08 16:00] #166 closed

[2019-03-08 16:05] bvaughn commented on #5
For the time being, I have updated the README to document a solution using [`react-virtualized-auto-sizer`](https://npmjs.com/package/react-virtualized-auto-sizer). I'm going to close this issue for now since that solutions is good enough. Still happy to look into and talk about an approach based on [`ResizeObserver`](https://github.com/WICG/ResizeObserver) though!

[2019-03-08 16:05] #5 closed

[2019-03-09 16:31] imjoshdean-tc opened #168 "Horizontal Lists"
Very similar to https://github.com/bvaughn/react-window/issues/158

I'm looking to potentially use this package to lazy load search results in an ecommerce platform that currently renders the results with a CSS grid in order to maximize the number of results on a row with the following CSS

[code]

is there some way to achieve this with `react-widow` that I might be missing? To be clear, I'm looki

[2019-03-09 17:00] bvaughn commented on #168
If your search results are variable width then it would not be supported. If the width of an individual result is or can be fixed though, you could use an approach like this:
https://codesandbox.io/s/5xpkw9376p

[2019-03-09 17:00] #168 closed

[2019-03-11 00:22] milieu commented on #6
@bvaughn Thank you for all of the work that has gone in the issues/6 branch for the past year!
I am currently testing `^1.6.0-alpha.1` and plan on shipping to production with that version.

Thought I'd post what I needed to do in order to work with the new `DynamicSizeList` for anyone else looking at this issue and using the latest on the branch.

Following the docs linked above and those generate

[2019-03-11 14:33] imjoshdean-tc commented on #168
Oh that's clever, thanks!

[2019-03-11 16:03] bvaughn commented on #6
Thanks for sharing the details! When I get some bandwidth to pick this issue back up, I'll dig into them.

[2019-03-12 03:22] despagito opened #169 "VariableSizeList doesn't support onWheel event?"
My original list works fine with onWheel, but when I change pure HTML list into VariableSizeList, the onWheel event stopped working.

[2019-03-12 03:23] bvaughn commented on #169
Provide a repro (Code Sandbox with instructions) and I'll re-open and look

[2019-03-12 03:23] #169 closed

[2019-03-12 03:24] bvaughn commented on #169
Oh sorry, I think I misunderstood your question

There is no onWheel property. You'll need to use the outerElementType to attach arbitrary custom event listeners like that.

[2019-03-12 06:50] despagito opened #170 "Is there any way to access scrollHeight and clientHeight?"
I want to do something when user scroll the list to bottom, but my previous code is not working now👇

[code]
so is there any way to fix this, would be better if there's a direct API.

[2019-03-12 09:57] nick-keller opened #171 "Error in console slows down browser"
When scrolling stops you can see an error in the console:
[code]
This can be seen even in the exemple here: https://react-window.now.sh/#/examples/list/fixed-size

On complexe list it even takes a while for the user to be able to interact again, interaction is disabled until the error pops in the console.

[2019-03-12 15:39] bvaughn commented on #171
`Uncaught TypeError: Converting circular structure to JSON`

Sounds like you're trying to `console.log` a JSON structure that has circular references somewhere in your application.

Sorry, but no such error shows in the console on the demo site.

See the reason for the interaction bit here: https://github.com/bvaughn/react-window/issues/128#issuecomment-460163077

[2019-03-12 15:39] #171 closed

[2019-03-12 15:41] bvaughn commented on #170
Did you check out [the documentation](https://react-window.now.sh/#/api/FixedSizeList)? Looks like the `onItemsRendered` prop should be sufficient for determining when you've reached the bottom of the list.

Otherwise, both `innerRef` and `outerRef` props are available to give you access to the scroll dimensions.

[2019-03-12 15:41] #170 closed

[2019-03-12 15:59] bvaughn commented on #169
FYI I added an FAQ entry about this
https://github.com/bvaughn/react-window#can-i-attach-custom-properties-or-event-handlers

[2019-03-12 18:05] jgoz opened #173 "Grid: Scroll to row/column only"
For `FixedSizeGrid` and `VariableSizeGrid`, is there a way to only scroll to a particular row OR column index?

I.e., scroll to row 50 while maintaining the current horizontal scroll position.

This kind-of works with `FizedSizeGrid` by using `scrollToItem({ rowIndex: 50, columnIndex: -1 })`, but I'm thinking this just happens to work and is not valid. Trying the same with `VariableSizeGrid` cause

[2019-03-12 18:24] bvaughn commented on #173
I'd be happy to review a PR if it includes all of the following:
* Minimal impact on bundle size (should probably only add two conditionals really)
* Includes tests
* Includes documentation changes

[2019-03-13 02:31] hisapy commented on #83
I'm having the same warning here.

[2019-03-13 02:46] withintheruins14 opened #175 "Preload a second screenfull?"
I made a blazing fast and complex infinite scroll with this. Thank you. Right now, I have one question, could this API support rending a second screenful? I am hopeful that this would keep less unpainted space from appearing when someone scrolls super fast. I moved from `react-infinite` and I could do that with that. I ask because even though my infinite scroll component hierarchy is well optimize

[2019-03-13 05:07] bvaughn commented on #175
I don't think this would actually help much with the case you're describing. Typically when someone scrolls slow-to-medium speed, the overscan items are enough to keep ahead. When someone scrolls "fast" – they swipe through more than a page of items.

If you would like to open a PR (including tests, docs, etc) I'll review a proposal. I'm initially a little skeptical of the change though.

Convince

[2019-03-13 05:08] bvaughn commented on #175
(By the way I don't intend to act on this issue, so I'm going to close it. That's just how I keep issues manageable. But we can keep talking here, and I'll review PRs~)

[2019-03-13 05:08] #175 closed

[2019-03-13 10:17] yaminyaylo commented on #83
@whiteb38

[code]

[2019-03-13 17:52] bvaughn commented on #175
Wanted to add a bit more context to this issue too. The general topic (pre-rendering offscreen elements) is something we (React team) are thinking about and plan on working on in the future at some point. It's not clear to me yet how much a library like react-window will own this, and how much will be built into React, but it is something we're thinking about just FYI 😄

[2019-03-13 19:05] impzero opened #176 "Documentation not clear"
I was reading the docs about the **FixedSizeList** [here](https://react-window.now.sh/#/api/FixedSizeList).
What caught my attention was that the author of the package advises us to extend the PureComponent class when we render "compex items".
Whats unclear to me is what "complex items" are?

[2019-03-13 19:50] bvaughn commented on #176
There isn't really a simple rule for this. I'm going to just point you at the React docs themselves:
https://reactjs.org/docs/react-api.html#reactpurecomponent

I think the team's general rule is to profile (using the React profiler and/or the Chrome profiler) and try memoization techniques like `PureComponent` if you see performance problems. Profile before and after to verify that it actually do

[2019-03-13 19:50] #176 closed

[2019-03-14 08:01] kalpeshsingh opened #177 "Class component in <VariableSizeList>"
I have a class component and want to use `react-window` on that. Is there any way I can use it without converting it to functional component or pure component?

I have read docs and couldn't find anything mentioned about class component. Happy to contribute to documentation once I know any method to use with class component or at least we can mention about class component support.

**My code:**

[

[2019-03-14 13:42] bvaughn commented on #177
You can use a class component as an item renderer in the same way as a function component. The trouble isn't that it's a class component, but that you're converting it to a React element (`<HeavyClassComponent/>`) rather than just passing the component type directly (`HeavyClassComponent`) like the docs show.

[2019-03-14 13:42] #177 closed

[2019-03-14 15:48] bvaughn commented on #6
I think [this approach](https://github.com/bvaughn/infinite-list-reflow-examples/blob/66a1802dfb4214e22cd1a755173e884dee1ae07b/list-absolute-positioning.js#L164-L176) may be usable along with the original proposal in this issue.

Rather than using the item's previous size, we could just use the estimated sizes– and refine with actual sizes as someone scrolls. (I don't think there's an important di

[2019-03-14 22:05] BnayaZil opened #178 "Scroll to item unexpected behavior"
As it is presented in the [documentation](https://react-window.now.sh/#/examples/list/scroll-to-item) clicking on the button scrolls down so item No. 200 is displayed, now the unexpected behavior is that I would expect the item No. 200 to display as first over as last.

Current behavior
![image](https://user-images.githubusercontent.com/13505136/54394522-c171db00-46b5-11e9-8bfa-4a888c1ad468.png)

[2019-03-14 22:15] BnayaZil commented on #110
@piecyk in your example integrating between `react-window` and `react-custom-scrollbar` using `outerElementType` the method `scrollToItem` of `react-window` is broken, it seems like `react-window` is losing track of `outerRef`.

[2019-03-14 22:17] BnayaZil commented on #178
Sorry, I missed the `align` property.

[2019-03-14 22:17] #178 closed

[2019-03-14 22:17] bvaughn commented on #178
As [the docs say](https://react-window.now.sh/#/api/FixedSizeList):
![Screen Shot 2019-03-14 at 3 16 50 PM](https://user-images.githubusercontent.com/29597/54395153-3a4c4500-466c-11e9-9639-d8e6679518f1.png)

List scrolls only enough so that the item is fully visible. If you've scrolled past it, it will scroll back just enough so the item is at the top. If you haven't scrolled far enough, it will s

[2019-03-15 01:35] fabiospampinato commented on #136
I couldn't reproduce this on codesandbox, but I'm still seeing it. The best that I can offer at the moment is the code of the Electron app I've recorded the [video](https://imgur.com/a/a0QSIDP) on:

- The code is [here](https://github.com/notable/notable).
- [This](https://github.com/notable/notable/blob/3642fd343a9ac5a899e71517bdbd18ebf32b7328/src/renderer/components/main/structures/tree.tsx#L51-

[2019-03-15 11:42] rannuo opened #179 "the react-virtualized-auto-sizer demo is broken"
[https://codesandbox.io/s/3vnx878jk5](https://codesandbox.io/s/3vnx878jk5)

browser always is bling

[2019-03-15 13:36] bvaughn commented on #179
Works for me.

You'll need to provide more info (e.g. which browser are you using, are there any errors in the console). Otherwise I assume this is just a random, temporary Code Sandbox error.

[2019-03-15 13:36] #179 closed

[2019-03-15 14:18] petersendidit commented on #179
If you try it out in Safari v12.0.3 the rows seem to be bouncing left and right.
[Screen Recording 2019-03-15 at 9.16.33 AM.zip](https://github.com/bvaughn/react-window/files/2971463/Screen.Recording.2019-03-15.at.9.16.33.AM.zip)

[2019-03-15 14:45] bvaughn commented on #179
Give it another look.

[2019-03-16 12:57] glromeo opened #181 "build problem in windows 10"
[1st console in D:\Workspace\react-window]

[2nd console in D:\Workspace\react-window]

At this point I have this issue when on windows 10 which I have not when on OSX Mojave:

I can see that the windows junctions work fine

[2019-03-16 12:59] glromeo commented on #181
To get to this problem I had first to fix the test regexp in webpack to cater for forward slashes like the others do

[2019-03-16 13:16] glromeo opened #182 "FixedSizeList demo shows list is limited by floating point precision"
To reproduce this just go in the codepen and use:
[code]
Chrome 72 64bit Windows 10:

![image](https://user-images.githubusercontent.com/160981/54475801-b02bea00-47ed-11e9-9d48-4e063849bd98.png)

[2019-03-16 13:19] glromeo commented on #182
Chrome 72 64bit on Mac OSX:

![image](https://user-images.githubusercontent.com/160981/54475832-157fdb00-47ee-11e9-853b-1da4fa8e0227.png)

[2019-03-16 15:07] bvaughn commented on #182
This is a browser limitation, not a react-window bug. The same behavior can be seen with pure HTML: https://codesandbox.io/s/j2xkl9rkx9

In past libraries (react-virtualized) I've tried to accommodate these limitations by [scaling scroll offsets](https://github.com/bvaughn/react-virtualized/blob/master/source/Grid/utils/ScalingCellSizeAndPositionManager.js) but I decided against an approach like t

[2019-03-16 15:07] #182 closed

[2019-03-16 15:09] bvaughn commented on #181
This is a hobby project that I work on in my spare time. I don't use (or have) Windows 10, so I can't support it.

Sorry mate.

[2019-03-16 15:09] #181 closed

[2019-03-16 15:37] #173 closed

[2019-03-18 08:30] Betree opened #184 "1.7.0 breaks SSR"
After updating from 1.6.2 to 1.7.0, we get the following error:

[code]

We use NextJS for pre-rendering, so `window` can be `undefined`.

I think the two lines causing this are:
- https://github.com/bvaughn/react-window/blob/master/src/createGridComponent.js#L135
- https://github.com/bvaughn/react-window/blob/master/src/createListComponent.js#L115

[2019-03-18 11:35] mgustin12 commented on #6
@bvaughn Will this fix the issue that @xaviergmail addressed, with initially scrolling to the "bottom" like a chat? I created a codesandbox of an example of it not working. If not, are there any workarounds?

https://codesandbox.io/s/vr648ywy3

[2019-03-18 12:49] ffjanhoeck opened #186 "Changing props of one item will update the whole list"
Hey,

I saw your memoized example and I saw that the whole List gets updated if a state of an item gets changed. See the Gif below. This is your example from https://react-window.now.sh/#/examples/list/memoized-list-items

![2019-03-18_13-43-16](https://user-images.githubusercontent.com/9037364/54530875-45f97d80-4984-11e9-921b-ba8554feb154.gif)

Currently I have the same problem with my list. I ha

[2019-03-18 13:41] BertelBB commented on #186
I have the exact same use case and problem, and have not been able to find a solution...

[2019-03-18 14:43] bvaughn commented on #186
That's because changing an item [creates a new `items` array](https://github.com/bvaughn/react-window/blob/53c26b429d5f4d9bba540df8f70810afc8a34e18/website/src/routes/examples/MemoizedListItemsExample.js#L51-L60) which [creates a new `itemData` object](https://github.com/bvaughn/react-window/blob/53c26b429d5f4d9bba540df8f70810afc8a34e18/website/src/routes/examples/MemoizedListItemsExample.js#L94-L

[2019-03-18 14:43] #186 closed

[2019-03-18 14:48] #184 closed

[2019-03-18 14:49] ffjanhoeck commented on #186
I had testest it with my own shouldComponentUpdate function but this function won't be executed, if the component will gets umounted again and again

[2019-03-18 14:55] bvaughn commented on #186
There's no way to memoize a component that gets unmounted again. That's not what happens in my demo though. If it's what happens in your app, there's something else going on– and I can't speculate about what.

[2019-03-19 12:00] rannuo commented on #179
@petersendidit
The same behavior to me. My browser is Chrome72.0.3626.121. But it's working normally, I just open it.
Thanks to you. @bvaughn

[2019-03-19 19:31] bvaughn commented on #55
FYI here's an idea I had that you might find interesting https://codesandbox.io/s/0mk3qwpl4l

[2019-03-19 20:29] souporserious commented on #55
Nice!! We ended up grouping our lists so we didn't run into any issues with sticky positioning, but this is a great little snippet to have on hand. Thanks for sharing! 🙏

[2019-03-19 21:26] TrySound commented on #55
@bvaughn This is awesome! Could you add this to recipes?

[2019-03-19 21:28] TrySound commented on #55
It does not solve sticky column problem though.

[2019-03-19 21:37] bvaughn commented on #55
Not trying to solve every problem with this example. Just illustrating how the current API could be used to approach this. Should work the same for columns as rows.

[2019-03-20 10:36] ffjanhoeck commented on #186
@BertelBB Did you find a solution?

[2019-03-20 13:11] BertelBB commented on #186
@ffjanhoeck Not really, no. I realised that my use case is actually a little bit different in the sense that my list can also be sorted/filtered. What I did is I pass in the **itemData** and **itemKey** props so that I manually set the key prop for every item. The whole list still updates but it is not as laggy as before.
https://react-window.now.sh/#/api/FixedSizeList here you can read about the

[2019-03-20 14:11] ffjanhoeck commented on #186
@BertelBB I already implemented that function yesterday, thank you :)
But the problem is not fixed :(
Here is an GIF what is laggy - as you can see is took some milliseconds to check an item.
Everything is memoized or have a implemented shouldComponentUpdate.

![2019-03-20_15-09-49](https://user-images.githubusercontent.com/9037364/54690785-6cedb600-4b22-11e9-81b2-39e0a07b351c.gif)

[2019-03-20 15:42] BertelBB commented on #186
@ffjanhoeck Yes, have the same issue. I unfortunately do not have time to look further into this as of now. But I will let you know if I find a better solution :)

[2019-03-20 15:48] bvaughn commented on #186
@ffjanhoeck Any chance I could take a look at the app you showed in the GIF above? I'd be curious to run a profiler and see where the slowness is coming from.

[2019-03-21 05:54] ffjanhoeck commented on #186
@bvaughn Yes sure -  I have send you the credentials on your email! :)

I think the slowness comes from the short preview of an item (The picture and the blue text with the secondary text represents the EntityShortPreview Component). But it is not a problem for one item. The problem is that all items get unmounted and mounted on select and if you sum up this, then it is slow.

Thats my current fee

[2019-03-21 06:00] ffjanhoeck commented on #186
This happens if a user select one item (on my development app)

![image](https://user-images.githubusercontent.com/9037364/54735517-f5ae3580-4ba6-11e9-9dca-b2f77742e24b.png)

[2019-03-21 17:53] natew opened #189 "[Feature] height="content-height""
This would basically solve a fairly tricky problem.

Say you want your table to be the height of the inner content (rows). AutoSizer doesn't do this because it's based on the parent. With react-virtualized you can do this using a CellMeasurer cache and then looking at rowHeights after renders.

This would go hand-in-hand with a maxHeight:

[code]

Useful for flex layouts where otherwise it gets sq

[2019-03-21 18:03] bvaughn commented on #189
Can you provide an HTML example demonstrating what you're referring to?

[2019-03-22 04:49] MarkLeMerise commented on #166
@apazzolini I just wanted to weigh in here and say that I've been playing with your branch all day and it works really well! My particular use case has to render a 5000-cell table and my first attempt with scroll-syncing was okay, but noticeably laggy. This native CSS solution is really smooth.

I understand this probably wouldn't (and shouldn't) be a core library feature, but hopefully it'll find

[2019-03-22 15:53] apazzolini commented on #166
@MarkLeMerise glad it's working for you! FYI I'm still planning on submitting a PR for this, but we had to delay migrating from react-virtualized to this strategy for another month-ish, so it'll be a bit.

[2019-03-25 16:52] AndreaZChen commented on #186
@ffjanhoeck I ran into the exact same issue, and after some investigation, I managed to figure out the cause: it's because we're using **anonymous functions** as item renderers, instead of named components. I'm no React guru, but I believe this messes up React's reconciliation, since the components aren't recognizably the same between renders.

I made a CodeSandbox example illustrating the problem

[2019-03-25 16:56] bvaughn commented on #186
That's what I'm seeing too after a quick look this morning. (Was writing an email but got interrupted.) Moving the inline function to an instance prop sped things up, (but also broke a few other things that I didn't have  time to track down due to the size of the repro case).

This is correct. 👍

[2019-03-25 17:12] AndreaZChen commented on #186
Hmm. This is unfortunate, because I'm writing my project using ReasonReact, which (currently) lacks the necessary props spreading/functional component features to avoid this problem. I recognize that this is not in any way a problem with react-window, just a limitation of ReasonML's type system, but I suppose it's worth mentioning in case anybody else stumbles upon this thread.

[2019-03-25 17:20] bvaughn commented on #186
To be clear, this is why all of the docs examples show the  item render being defined outside of the parent component, and the [memoization example](https://react-window.now.sh/#/examples/list/memoized-list-items) shows how to share data between the two. (Basically it's like a lighter weight, built-in context.)

[2019-03-26 06:53] muhaimincs opened #190 "VariableSizeList dynamic item height"
I am not sure how to implement this as from the example you fix the height. How do I measure the height of the item element? Perhaps I miss something in this repo. FYI, I'm implementing chat list which has dynamic height.

[2019-03-26 10:27] Gajesh-LH commented on #190
+1

[2019-03-26 13:20] bvaughn commented on #190
That's not yet supported (unless you want to just in time measure the content, which I wouldn't really recommend).

Check out issue #6 for support status though.

[2019-03-26 13:20] #190 closed

[2019-03-26 13:50] joespeargresham opened #191 "When dragging the scroll bar on a variable sized grid, the bar moves ahead of the mouse"
When you click and drag the scroll bar down on a variable sized grid the thumb bar moves quicker than the cursor.

This only happens the first time that you scroll down. It subsequently corrects itself.

It appears to be more noticeable on a grid with a larger amount of rows, but I can replicate it on the demo here https://react-window.now.sh/#/examples/grid/variable-size

Seems to work fine on a

[2019-03-26 14:16] rufoot commented on #110
I am trying to detect the scroll position at the bottom of react-window.
Is it possible? Do you have any ideas for that? I'd like to have **codesandbox**  example.

[2019-03-26 14:24] bvaughn commented on #110
You should be able to use the available ref props to ask the list for its `scrollHeight` @rufoot.

[2019-03-26 14:28] bvaughn commented on #191
This is expected, since variable size list/grid use _estimated_ item sizes initially and refine them as items are measured. When there's a delta between the _estimated_ and _actual_ size, the available scroll size is adjusted by that amount- which can impact the scroll thumb slightly. Usually this isn't very noticeable, since it's done gradually (as items are measured).

It's not really something

[2019-03-26 14:28] #191 closed

[2019-03-26 14:28] #189 closed

[2019-03-26 14:28] bvaughn commented on #189
Closing due to lack of a response.

[2019-03-26 15:44] nihgwu commented on #55
I created a table component [BaseTable](https://github.com/Autodesk/react-base-table) with frozen rows and columns support, but based on `react-virtualized`, I planed to migrate to use `react-window` in the next version, I'm just waiting for #6 to be supported

[2019-03-26 15:49] nihgwu commented on #10
Here it is, [BaseTable](https://github.com/Autodesk/react-base-table) with frozen rows and columns support and other features, but based on `react-virtualized` right now, I planed to migrate to use `react-window` in the next version
I didn't expect it would take so long to open source it (I'm a bit busy with other stuffs)

[2019-03-26 23:51] natew commented on #189
Ah, I think this is only relevant with https://github.com/bvaughn/react-window/issues/6. Without it you can calculate it pretty easily.

[2019-03-27 02:33] rufoot commented on #110
I have tried to use `scrollHeight` in the props. But I think there isn't `scrollHeight` property in that.
@bvaughn Do you have any idea about that?

[https://codesandbox.io/s/github/bvaughn/react-window/tree/master/website/sandboxes/scrolling-to-a-list-item](url)

`
scrollToRow200Auto = () => {
    this.listRef.current.scrollToItem(200);
    console.log("current position = ", this.listRef.current.

[2019-03-27 13:03] piecyk commented on #110
@rufoot something like this https://codesandbox.io/s/4zjwwq98j4 ?

[2019-03-27 13:49] rufoot commented on #110
[https://codesandbox.io/embed/jzo2lool2y](url)

When you scroll down at the bottom of react-window, then you can see one alert.

[2019-03-28 06:47] ffjanhoeck commented on #186
Great, I will take a look! :)

[2019-03-29 11:40] Gajesh-LH commented on #6
I am facing some issue this DynamicList

demo link: http://recordit.co/zOoZSotFZP
[code]

[2019-03-29 15:38] bvaughn commented on #6
Let's keep the comments on this issue focused on API discussion, not troubleshooting.

I suggest Stack Overflow for asking questions.

[2019-03-30 17:35] gohulk opened #192 "React-window scroll on body of the page"
Thanks @bvaughn for creating such an amazing library.

I have one quick question:

I want to the scroll should happen on the body / page of the website. Just like in instagram where the scroll bar or scroll happens on the page, i want to have a similar experience with my page. Currently, i am not able to achieve that because the default behavior of the scroll happens on the div child component of

[2019-03-30 17:46] bvaughn commented on #192
Thank you!

This sounds like a duplicate of #30 so I'm going to just copy-paste my answer from that issue since it still applies 😄

---

What your'e describing isn't supported by react-window. It was supported by react-virtualized, via a `WindowScroller` component, but `WindowScroller` was one of those painful to maintain components. I see the usefulness of it, but I'm not sure I'm interested in c

[2019-03-30 17:46] #192 closed

[2019-03-31 11:15] cestrensem opened #193 "How to add a list to a page with scrolling?"
Hello, i have a page with large amount of comments.
![image](https://user-images.githubusercontent.com/3720256/55288397-692a2100-53b7-11e9-8c2b-bcb6ea6dbe89.png)

But this page have it's own scrolling, so I can't add comment thread with fixed width.

Which way should i go then?

[2019-03-31 15:43] bvaughn commented on #193
I'm not sure this sort of question should be asked in a GitHub issue. I think Stack Overflow might be more appropriate, but...

Vertical lists doesn't require a fixed width. You can use a percentage width for them. They do require a fixed height though.

If you meant to type "fixed height", then I'd say this sounds like a duplicate of #192 and I'll re-post my answer from that issue:

---

What you

[2019-03-31 15:43] #193 closed

[2019-04-02 07:30] MarkFalconbridge opened #194 "Publish .d.ts files"
Any chance you could add a typescript .d.ts file to the dist folder?

[2019-04-02 10:13] sonofjack commented on #166
@apazzolini  Love the result, but safari was giving grief with that grey square.
![image](https://user-images.githubusercontent.com/323731/55394880-19e91980-558c-11e9-8fcb-fe56aa1882dd.png)

[2019-04-02 11:19] leahaense commented on #194
Just install `@types/react-window` package from DefinitelyTyped

[2019-04-02 11:20] sonofjack commented on #166
demo in safari was not working. https://codesandbox.io/s/xjzrzmxv8q
needed to add:

[code]

Thank you for this !

[2019-04-02 11:41] MarkFalconbridge commented on #194
I have but unfortunately they don't match the actual API. I was hoping that by getting a d.ts file published here then any changes to react-window would be automatically reflected in the associated d.ts file.

[2019-04-02 11:43] leahaense commented on #194
I see, they are working fine for me so far

[2019-04-02 11:47] MarkFalconbridge commented on #194
The direction prop is missing from GridProps and the layout prop is missing from ListProps. I have to support RTL languages so the direction prop is important to me.

[2019-04-02 11:56] martynaskadisa commented on #194
If something is not working correctly with `@types/react-window` or is out of date, feel free to either submit an issue or (even better) a PR to the DefinitelyTyped repo:
https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/react-window/index.d.ts

@bvaughn has already expressed that he's not willing to maintain type definitions for TypeScript in this repo https://github.com/bvaugh

[2019-04-02 12:15] MarkFalconbridge commented on #194
For completeness - https://github.com/DefinitelyTyped/DefinitelyTyped/issues/34396

[2019-04-02 12:15] #194 closed

[2019-04-02 12:34] leahaense opened #195 "scrollTo method does not report isScrolling"
Hi,

we use a `FixedSizeList` inside a `WindowScroll` component that triggers the `scrollTo` method on the list component. Our items are quite heavy to render and thus if you scroll very fast you'd often get empty space. I wanted to use the `useIsScrolling` feature, but noticed that this is never reporting `isScrolling` as `true`.
I checked the code and noticed that this is deliberate since there

[2019-04-02 14:50] bvaughn commented on #195
It is deliberate, yes. I'll try to explain my reasoning.

"scroll" events happen quickly, and can be hard for JavaScript to keep up with. If JavaScript doesn't keep up, then scroll jank happens. With windowed libs like react-window, this means checkerboarding (empty space). In non-windowed libs, it means the browser stops responding to the user's house/keyboard. Either way, we want to minimize thi

[2019-04-02 14:50] #195 closed

[2019-04-02 14:55] bvaughn commented on #166
Thanks! I'll update the  FAQ  sandbox

[2019-04-02 15:02] leahaense commented on #195
Thank you very much for your detailed answer. I already tried your first suggestion, but since we use the `WindowScroller` together with an `AutoSizer`, `outerRef` is as big as the whole list would be and thus can not be scrolled on a DOM level (`WindowScroller` and `AutoSizer` were implemented by us inspired by the components in `react-virtualized`. See at the end of the post for the implementati

[2019-04-02 19:48] thielium opened #197 "README.md: Sticky Grid Demo doesn't use bvaugh/react-window"
Not sure if this is intentional or not, but the current demo referenced in the [docs](https://github.com/bvaughn/react-window/commit/061841032662110b3d96d3adba0bed7b1622136b) for the sticky grid (https://codesandbox.io/s/vqk32863wy) uses a fork of `react-window`. I would have expected encouraging custom code in the implementation, not encouraging forking to get custom behavior, but I could be mist

[2019-04-02 20:05] bvaughn commented on #197
Ahh! No, this was an oversight. Thanks for pointing it out.

I'll revert that commit.

[2019-04-02 20:05] #197 closed

[2019-04-03 08:33] MarkFalconbridge opened #198 "Synchronizing a grid and a list in RTL has unexpected behavior"
In the sandbox linked to below, the top list has its scroll position set whenever the grid below is scrolled. If you change the direction props of both the list and the grid to `"ltr"`, all works fine.

If you use it as provided with the list and grid direction props set to `"rtl"` in Chrome the list doesn't appear to render anything, then when you scroll horizontally items do appear but only some

[2019-04-03 12:29] thielium commented on #166
Not sure if this is the right place to  "+1" (I don't want to be a part of +1 spamming), but stickiness (or a hook into the rendering structure in general) would be useful (critical?) for my usecase. Right now I'm having to do some slightly gross things to ensure virtualized, frozen rows and columns. I do appreciate that features like this can raise some hackles for maintenance, though, and having

[2019-04-03 13:26] MarkFalconbridge commented on #198
A work around for this is to use the outerRef props for the grid and the list and set the scrollLeft attribute directly on the raw HTMLDivElement. This can be seen here - https://codesandbox.io/s/4qljy74oo7.

Unfortunately, this only partially works when the list used is a VariableSizeList as seen here - https://codesandbox.io/s/x2y1k5p5z4.

[2019-04-03 14:31] lipoolock commented on #30
@carlosagsmendes
To fix your issue, you have to fallback on doc which is explaining that for Grid, you have to provide another param signature than Lists
`scrollTo({scrollLeft: number, scrollTop: number})` => https://react-window.now.sh/#/api/FixedSizeGrid

Hope this will help...
Note: take care of the CSS trick of @PascalSenn
[code]

[2019-04-03 15:10] MarkFalconbridge commented on #198
A further workaround for the VariableSizeList part of this issue is to manually set the width of the style attribute of the innerRef div when setting the outerRef scrollLeft. This is possible in my case because I know how big in total the innerRef needs to be to accommodate the individual items. I'll create a sandbox tomorrow to illustrate this.

[2019-04-03 15:14] bvaughn commented on #198
Just an FYI, I don't have the bandwidth to look into this any time soon. Particularly if it is related to #159 (browser bug). If you need this fixed, you'll probably need to  dig into it yourself.

[2019-04-03 15:32] lipoolock commented on #133
Hi @bhovhannes
Did you finally became happy with your solution: the "hybrid" positioning ?
I'm looking forward for a "flexible" displaying way, so if you already had found a solution you can share, it would be welcome ;)
Otherwise, I will start now to try an idea
My main constraint is that I will have a list with sometimes an item taking 100% of container width, sometimes 50% => though two items o

[2019-04-03 15:44] bvaughn commented on #133
Sorry, I don't know what you're  asking.

[2019-04-03 15:46] bhovhannes commented on #133
@lipoolock yes, I am happy with my solution. Luckily react-virtualized provides all needed api for achieving that.

I still have posting it here in my todo list. It's a bit complex and it's hard to disaggregate it to codesandbox considering little amount of time I currently have. I certainly plan to do that though.

[2019-04-04 05:29] gbiryukov opened #199 "Item styles should be cached by item key instead of item index"
Hi there, thanks for great library!

I found small issue with item style cache when `itemKey` prop is used with `VariableSizeList`.
When item with new key added into middle of the list it receives styles of element that was located previously on this place.

It happens because styles cached by index but not by keys. It is possible to resolve it somehow?

[2019-04-04 05:38] bvaughn commented on #199
Styles determine the position (top/left offset) so they're bound to index, not id/key (which are only decoupled since they might move around in the tree, after e.g. a resort or a addition/deletion).

[2019-04-04 07:10] MarkFalconbridge commented on #159
I think #198 is as a result of the manipulation of scrollLeft to calculate the offset for this issue. The onScroll event emitted by the grid has the manipulated offset value rather than the scrollLeft position that the browser being used understands. If it were possible to keep the normalisation of the offset internal to react-window #198 would be at least partially fixed. Would it be useful to us

[2019-04-04 07:30] gbiryukov commented on #199
Thanks for quick response. Here the example https://codesandbox.io/s/2o9rk3q7z0
Click on `add item` and you will see that new item will have wrong size.

[2019-04-04 08:06] lipoolock commented on #60
Hi
I tried to find an existing thread instead of creating a new one. I hope I am in the good place...

Is there a way to have a sort of "colspan" to merge two cells for `FixedSizeGrid` (would probably make more sense in my context) ?
This question relies on another discussion started [here](https://github.com/bvaughn/react-window/issues/133#issuecomment-479541134), but to make more sense I prefer

[2019-04-04 15:47] bvaughn commented on #60
No. This is not supported.

[2019-04-04 15:57] bvaughn commented on #199
I see. There are two types of "styles" we might be referring to.

The first is CSS style. These control both positioning (which is index specific) and sizing (which is item specific). Cached styles aren't meant to be stable when the underlying data changes. They're just meant to prevent breaking `shouldComponentUpdate` for e.g. back to back renders that happen while the user is scrolling. (In fact

[2019-04-04 15:57] #199 closed

[2019-04-04 16:45] gbiryukov commented on #199
Got it, thanks for your help 👍

[2019-04-08 01:38] sirlukecoop commented on #6
Is it possible to expose the resetAfterIndex in this API? I add, edit, and remove from my DynamicSizeList and, at least from what I can gather, this would be the method to call to fix heights up, yes?

[2019-04-08 08:23] MastroLindus opened #202 "VariableSizeList cache should be invalidated if the list gets modified"
I use a VariableSizeList to render a list. I specify the itemKey prop to ensure that the list knows if a row has changed.

However the computed size for each row is cached and is not cleared if the row itself has changed.

I have noticed in the docs the "resetAfterIndex" method that should clear the cache, but I would expect not to have to call it manually if the row itself (its key) changed, inst

[2019-04-08 10:25] piecyk commented on #6
@bvaughn was playing around over the weekend with the idea position the items with anchor index and scrolling the list to align what user is seeing... First impressions that it could work 😅 For simplicity the list is rendered without any overscan elements, also we need change how cache is working ( in this wip it's cleared always ) ... What do you think ?

poc implementation https://github.com/pie

[2019-04-08 14:50] bvaughn commented on #202
Please take a moment to search other GitHub issues before filing a new one 😄

This is a duplicate of #199 (filed four days ago). Check out [my answer there](https://github.com/bvaughn/react-window/issues/199#issuecomment-479957451).

Have a good day!

[2019-04-08 14:50] #202 closed

[2019-04-08 19:40] piecyk commented on #6
uh-oh firefox can't keep up with rendering like chrome does using this approach 🤷‍♂️

[2019-04-09 02:24] c-dante opened #203 "Style object has numbers instead of correct CSS?"
I'm using this with `preact-compat` -- I don't know if it's a convenience that react's create element provides, but you need to specify the unit when using non-zero values for the `top, bottom, left, right` style properties.

I'm seeing this as an example:
[code]

If we generate this directly, we get: `style='top:25;height:25;width:100%,position:absolute` which is invalid css -- it should be: `...

[2019-04-09 08:58] TrySound commented on #203
@c-dante This is expected to work in react. Compat package should do the same I think.
https://reactjs.org/docs/dom-elements.html#style

[2019-04-09 14:00] c-dante commented on #203
Yep! Looks good. I'll take my issue over there. Thanks for showing me! I haven't dug into React's spec for attributes yet.

[2019-04-09 14:00] #203 closed

[2019-04-10 10:28] PaulCaruana opened #204 "Can you use react-window using natural height i.e. not position absolute on row"

[2019-04-10 13:28] bvaughn commented on #204
No

[2019-04-10 13:28] #204 closed

[2019-04-10 15:12] ealexseen opened #205 "Maybe use cross-end for script 'build-flow'"
Current problem to branche `issues/6`:
http://prntscr.com/na4i3s

I tried install with OS Window 10:
i think it can will make so
`"build:flow": "cross-env cp flow-template dist/index.cjs.js.flow && cp flow-template dist/index.esm.js.flow"`

[2019-04-10 15:16] bvaughn commented on #205
This is a hobby project that I work on in my spare time. I don't use (or have) Windows, so I can't support it. You're welcome to submit PRs like #180 that fix things about the Windows dev setup, and I'll review them– but this is not something I'm going to invest any time in.

[2019-04-10 15:16] #205 closed

[2019-04-11 11:33] ealexseen opened #206 "Can add cross-env for `build:flow` in package.json"
Hi, i'm tesing in the OS Window 10 and i get error.
http://prntscr.com/naicvc
Can add cross-env for script `build:flow`
I used branche issues/6

[2019-04-11 11:36] #206 closed

[2019-04-11 13:22] TrySound commented on #27
I would reopen it just to be visible to others. The solution above does not allow to use sticky columns since the closest scrollable parent does not have horizontal scroll. Maybe somebody will find a better solution.

[2019-04-11 17:46] TrySound commented on #27
Here is the solution with separate horizontal scroll in parent wrapper.
[code]

[2019-04-11 17:51] bvaughn commented on #27
I still have no idea what solution you're referring to, or what this has to do with sticky.

[2019-04-11 18:06] TrySound commented on #27
With common scroll position sticky works but we have inertia problem
[code]

I meant maybe somebody could propose a solution if we will open this issue.

[2019-04-12 10:42] syntithenai opened #207 "List Randomly Scrolling to Top"
I am having a problem with the VariableSizeList. At seemingly random scroll events, it scrolls back to the start of the list.

If I put debug into the onScroll event, I see that the scroll events with gradually increasing scrollOffset and then for no obvious reason I see a scroll event with scrollDirection="backward" and scrollOffset=0

I've added debug to componentDidMount and componentDidUpdate

[2019-04-12 10:50] TrySound commented on #207
Please provide codesandbox example. It's hard to provide a good feedback for unformatted piece of code.

[2019-04-12 11:08] #207 closed

[2019-04-12 12:08] lipoolock opened #208 "Grid or List with Images and Browser Image cache"
Hello @bvaughn
I was looking at this type of implementation : http://pitchfork.highforthis.com/ which displays images in a Grid component.
I noticed that already loaded images are downloaded again and again if you move the scroll up and down many times. I know, this is not a "real user behaviour", but what does this reveals ?

`react-window` handle the DOM to replace displayed items by new ones wh

[2019-04-12 14:58] bvaughn commented on #208
The browser caches (on disk) recent image requests, provided the resources aren't marked as no-cache. You can see by recording network traffic on the page you sent that the browser serves the duplicate requests with caches from disk.

![Screen Shot 2019-04-12 at 7 58 20 AM](https://user-images.githubusercontent.com/29597/56046733-c350ad80-5cf8-11e9-974a-8fed76df0154.png)

You can always add a seco

[2019-04-12 14:58] #208 closed

[2019-04-15 15:16] MarkFalconbridge commented on #159
I've attempted to fix the problems caused by the varying ways browsers report scrollLeft in rtl in [this branch](https://github.com/MarkFalconbridge/react-window).

Hopefully it fixes the issues seen in this bug as well as #198. Before I write unit tests to try to test what I've written I'd like some feedback as to whether it's even likely to get accepted as a pull request - @bvaughn.

What it's d

[2019-04-16 11:29] MarkFalconbridge commented on #159
I'm actually not sure how to meaningfully test the fixes in [this branch](https://github.com/MarkFalconbridge/react-window) without writing tests based around `intern` or something similar because the issue is specifically related to browser implementations of `scrollLeft` when the direction is rtl. Using the existing jest framework wouldn't really prove that the fix works because jest uses `jsdom

[2019-04-16 12:23] davidgarsan commented on #159
@MarkFalconbridge as you can see in my comment above, I was working in a fix for this issue.
To the date I was able to fix it in the List component, but the Grid is still pending.
The PR was tested ok in Chrome, Firefox and Safari.
Unfortunately, I've not been able to work in that since then, but definitely I'll continue that soon.
Did you try the branch?

[2019-04-16 13:07] MarkFalconbridge commented on #159
@davidgarsan I did try your branch but we need to use the list and the grid and both the `scrollTo` and `scrollToItem` methods and have it work in Chrome, Firefox and Edge. Because we're writing code that uses it now we couldn't really wait.

[2019-04-16 14:04] davidgarsan commented on #159
I understand. Currently I only need the List, but soon I'll work with the Grid so I need to have it fixed by then.
Unfortunately I won't be able to work in this in the next 2 or 3 weeks.

[2019-04-16 22:34] pupudu opened #213 "Document standalone libs built using react-window"
Thank you for creating react-window. And I apologise if a similar issue has already been created, I searched and failed to find.

This is a request to **add the list of standalone libraries built using react-window to the documentation of RW**. As you might have already guessed, I myself made one recently, https://github.com/pupudu/window-table. (released on npm, but is under heavy development atm

[2019-04-17 00:58] bvaughn commented on #213
Hey. I don't know if I want the hassle of maintaining such a list right now, to be honest. I'd probably just redirect people to [the NPM list of dependents](https://www.npmjs.com/browse/depended/react-window).

Maybe at some point in the future when I'm not falling so far behind on everything, I'll add such a list.

Thanks for your understanding 🙇

[2019-04-17 00:58] #213 closed

[2019-04-17 04:22] pupudu commented on #213
All good Brian. I understand

[2019-04-17 06:24] ajayns opened #214 "How to use max-height instead of height for FixedSizeList"
In the case that the list has the possibility of being of very few items that it doesn't even fill the specified fixed height, it keeps rest of the space empty. I'd prefer if it automatically wrap itself as per the height of the content, much like how max-height would work.

Any suggestions on how to implement this? For the library maybe it'd be great if it took care of this internally.

[2019-04-17 12:35] nihgwu commented on #214
that should not be builtin, you could implement it by `<List height={Math.min(containerHeight, itemHeight * itemCount) />`

[2019-04-17 13:32] bvaughn commented on #214
The approach @nihgwu shows above is correct.

[2019-04-17 13:32] #214 closed

[2019-04-17 15:17] Vrq opened #216 "How to implement Scroll Memory?"
I recently switched to react-window but noticed my old solution for restoring scroll memory doesn't work anymore.
Previously used: https://www.npmjs.com/package/react-router-scroll-memory

What is the proper way of restoring scroll position with react-window?

Currently, I have a workaround with **initialScrollOffset** prop (passing index*row_height) but it feels hacky.

[2019-04-17 15:23] bvaughn commented on #216
The library offers an `initialScrollOffset` prop as well as `scrollToItem` and `scrollTo` (offset) API methods. Seems like these should be sufficient?

If not, please provide a link to a sandbox showing what you've tried and why it's not sufficient and we can talk more.

[2019-04-17 15:23] #216 closed

[2019-04-17 15:39] Vrq commented on #216
Is there a standard way of doing it?
For example, can I somehow get the current position of the list or do I have to find out the offset value myself?

[2019-04-17 15:44] bvaughn commented on #216
The docs show that an `onScroll` prop is supported. Have you checked out the docs? 😄

As its name suggests, it's only used for the _initial_ render.

![Screen Shot 2019-04-17 at 8 42 56 AM](https://user-images.githubusercontent.com/29597/56301514-d2ff3600-60ec-11e9-8808-72588a70b1b6.png)

[2019-04-17 15:51] Vrq commented on #216
I read through, but apparently to quick.
Gotta check again, thanks!

[2019-04-18 07:49] MarkFalconbridge opened #217 "w3.org states elements with `role='gridcell'` should be owned by an element with `role='row'`"
https://www.w3.org/TR/wai-aria-1.1/#grid states that elements with `role='gridcell'` should be owned by an element with `role='row'`.

With the current implementation of `FixedSizedGrid` or `VariableSizedGrid` I don't think this is possible as there aren't any elements surrounding a row of cells once rendered in the DOM.

Is this something that could be added so that full aria support becomes poss

[2019-04-19 02:57] bvaughn commented on #217
Grouping grid cells into rows is not something I'm interested in doing. Adding the overhead of additional DOM element wrappers to performance sensitive areas like grid doesn't feel like a worthwhile tradeoff.

Is there a different aria role that would be better suited to the current DOM structure?

[2019-04-19 06:46] MarkFalconbridge commented on #217
Unfortunately not, I've definitely got a grid of data to present and according to that spec, elements with role `gridcell`, `columnheader`, or `rowheader` are owned by elements with role `row`, which are in turn owned by an element with role `rowgroup`, or `grid`. What this means in practice is that users who use assistive technologies may not get a full picture of how the data in the grid is stru

[2019-04-19 07:43] pavle-lekic-htec commented on #208
I agree with @bvaughn, however another in-memory cache might be beneficial for smooth scrolling, because it's faster to load those images from ram memory than it is from disc. So if you encounter scroll performance issues than you might consider investigating.

[2019-04-19 10:40] thielium commented on #217
I can second that this is an issue for my team.

The only way I know how to fulfill this requirement now is using `React.Children` to traverse the items passed into the inner element and using the items' props to group them into rows. Performance cost aside, there are problems with this approach, one being that it's not very idiomatic to have props travel up from the children into the parent like

[2019-04-19 14:43] bvaughn commented on #217
Realistically, I don't think I'll invest time in this issue any time soon. I may even prefer to remove the current role entirely rather than add wrapping layers. I think a lot of existing advanced usage of `innerElementType` might be broken by such a change, and there are performance implications, implications on things like sticky rows/cols, etc.

[2019-04-19 14:59] thielium commented on #217
Definitely respect the zero sum game of open source time management.

Would you be interested in PRs that are:
 - Not breaking changes;
 - Expose the ability to add wrapping, but don't put the burden on `react-window`?

[2019-04-19 15:00] bvaughn commented on #217
I'd love to review ideas, yes. Can't promise to land them, but it would be
helpful for discussion.

On Fri, Apr 19, 2019, 7:59 AM thielium <notifications@github.com> wrote:

[2019-04-19 18:49] kcunanan opened #219 "Scroll To Item on React.useEffect mounting with AutoSizer"
Hi,

I'm using the React.useEffect` hook to attempt to initiate a `scrollToItem` function call on a `FixedListComponent` wrapped in the virtualized `AutoSizer` library. However, it appears that the `ref` doesn't have a `current` component yet due to being wrapped within `AutoSizer`.

Is there a `react-window` alternative to `AutoSizer` that allows me to use scrollToItem on mount?

Here's a sandbox

[2019-04-19 19:25] kcunanan commented on #219
Hi,

I was able to resolve this using state instead `AutoSizer` (sandox: https://codesandbox.io/s/m353m03jo9)

But now my issue is that the `scrollToItem` scrolls to the `index + 1` element instead of just the `index`. Wondering if there's a workaround for this as well.

[2019-04-19 19:28] kcunanan commented on #219
Using `start` on `scrollToItem` has resolved my issue🥇

[2019-04-19 19:28] #219 closed

[2019-04-22 10:04] ajayns commented on #214
Thank you!

[2019-04-24 19:29] Spenc84 opened #221 "mouse wheel scrolling broken in chrome"
This issue can be seen from your demo page when viewed in a Chrome browser.

When scrolling with the mouse wheel in a chrome browser you will see empty white space as the javascript tries to catch up with the browsers scroll position. This only seems to occur in chrome and only when using the mouse wheel instead of the scroll bar.

This is likely the result of Chrome's recent decision to make onwh

[2019-04-24 20:14] bvaughn commented on #221
Hm. React batches updates that happen inside of its own event handlers, so this might cause more renders. (We could batch inside of our own handler, but we'd be outside of the batch of anything else that happened to listen to React's scroll event.)

I think I'd prefer to not try solving this within react-window. I'd rather wait for an idiomatic React solution. I'll try to remember to bring it up d

[2019-04-26 17:07] MatthieuCoelho opened #222 "onItemsRendered shouldn't be call while scrolling"
Hello,

I'm using react-windows with react-window-infinite-loader.

When user is scrolling it keeps calling onItemsRendered which trigger a new fetch of data, which results into a lot of HTTP request.

How do you solve this problem ?

[2019-04-26 17:21] bvaughn commented on #222
`onItemsRendered` _should_ be called when scrolling 😄

I'm not sure why you would be fetching data in `onItemsRendered`. Happy to give a suggestion if you can provide a little more context 😄 Going to close this issue though since it's not actionable

[2019-04-26 17:41] cyulin opened #223 "The size of each row in the VariableSizeList is not updated in real time"
- [ ] I have searched the [issues](https://github.com/ant-design/ant-design/issues) of this repository and believe that this is not a duplicate.

there was a list with a heading line height of 60px and a content line height of 30px. When the number of rows changed, the height of each line did not change.
I found that the reason was that the itemSize function was not executed when row was updated.

[2019-04-26 17:46] bvaughn commented on #223
I appreciate that you searched the issues before filing this issue (although I'm not sure why you linked to [ant-design/ant-design/issues](https://github.com/ant-design/ant-design/issues)?)

That being said, this looks like a duplicate of #199 . Check out [my answer there](https://github.com/bvaughn/react-window/issues/199#issuecomment-479957451).

[2019-04-26 17:46] #223 closed

[2019-04-26 23:35] tsirlucas commented on #6
Kinda late but I'm trying to solve that problem with [this](https://gist.github.com/tsirlucas/637c948e1e55a3c2439df9b87ec6a13b) react hook.

Not the best solution but I'm still working on it. Maybe we can work to make it more generic (and simple) and create a package?

Gif to show how this is working right now:
 https://cl.ly/87ca5ac94deb

Maybe we can open a new issue to talk about a solution for

[2019-04-27 13:59] Vrq opened #224 "How to use react-window on mobile to hide menu bars?"
Normally when a website is scrolled down on mobile the menu bar hides automatically.
However, with react-window, the scroll happens inside a div and the whole page doesn't scroll which makes the menu bar to stay.

Is there a known workaround to make it possible?
The goal is to make the user be able to hide menu bar when scrolling the list.

[2019-04-27 14:24] bvaughn commented on #224
Essentially you're asking about support for a component like react-virtualized WindowScroller, which this library does not have. There may be a way you could rig something up, but it's not something the library supports out of the box. Sorry!

[2019-04-27 14:24] #224 closed

[2019-04-28 23:21] mackness opened #225 "Data attributes are not being forwarded to rendered HTML elements"
This is probably not a bug but I thought I would bring it up anyway because it might be nice to have.

I have started using [react testing library](https://testing-library.com/react) recently and one of the suggested patterns for selecting elements is to add a `data-testid` attribute to the element you're targeting in a test.

I tried to add `data-testid` attribute to `FixedSizeList` but the rende

[2019-04-28 23:30] bvaughn commented on #225
I don't think this is something I want to add direct support for, but you should be able to use the `outerElementType` prop for. You can attach any arbitrary props you want with it. 😄

Tag name passed to document.createElement to create the outer container element. This is an advanced property; in most cases, the default ("div") should be used.

[2019-04-28 23:30] #225 closed

[2019-04-29 08:08] nihgwu opened #226 "overscanRowsCount vs overscanRowCount"
it's `overscanRowCount` in `react-virtualized`, but now it's `overscanRowsCount`, while we have `rowCount`, I'm not a native speaker so I'm just wondering which is proper?  Right now I have to map `overscanRowCount` to `overscanRowsCount` https://github.com/Autodesk/react-base-table/pull/19/files#diff-4177f614bd864f6344923aed07c2edeaR91

[2019-04-29 14:07] mackness commented on #225
Ya that works for me, thanks!

[2019-04-29 14:13] MatthieuCoelho commented on #222
It seems like InfiniteLoader from react-window-infinite-loader is fetching data when FixedSizeList trigger onItemsRendered.
So when I'm scrolling, onItemsRendered is called and InfiniteLoader fetch data for the new index. If I use a small  minimumBatchSize on InfiniteLoader, it will trigger a lot of HTTP request.
I was thinking that InfiniteLoader should only fetch data on scrollend event, after a

[2019-04-29 15:18] bvaughn commented on #226
I don't know if either one is more or less proper. Sorry! 😄

[2019-04-29 15:21] bvaughn commented on #222
Ah. Maybe you could implement your own debounce logic in your `loadMoreItems` callback.

Realistically, I don't think I'll be spending any time in `InfiniteLoader`, other than what I've already done to port it over to work with react-window. And I don't think it makes sense to debounce `onItemsRendered` itself. That would be a breaking change that would require a new major version release (and I d

[2019-04-29 15:24] MatthieuCoelho commented on #222
@bvaughn Thanks for your help.
I ended using a debouncing library (awesome-debounce-promise) to debounce loadMoreItems.

[2019-04-29 15:24] #222 closed

[2019-04-29 15:27] bvaughn commented on #222
Nice, nice. I'm glad that worked out for you then! I like the idea of debouncing logic being done (or not) in application code, since that leaves the possibility of no-debounce behavior for those that prefer it. Thanks for the update!

[2019-04-29 16:27] nihgwu commented on #226
So I'm wondering if we could make the naming consisitency? like `overscanRowCount`

[2019-04-29 16:42] bvaughn commented on #226
No. react-virtualized is not a library I support anymore, so I don't plan on releasing an update to it.

And I don't think it's worth making a breaking change to react-window to better mirror react-virtualized API. That isn't really a goal this library has.

[2019-04-29 16:59] nihgwu commented on #226
I understand you concern, I think we could deprecate `overscanRowsCount` in flavor of `overscanRowCount`, just like `tagName` to `elementType`, I'm not saying to mirror the RV's API, but the prop's name itself is confusing with `rowCount`

[2019-04-29 17:27] bvaughn commented on #226
Ah. I don't really care about mirroring RV's API naming conventions at this point, but `overscanRowsCount ` vs `rowCount ` is a stronger argument.

I would be willing to accept a PR that deprecates the name with a warning, similar to https://github.com/bvaughn/react-window/blob/f2b2106cc828e9828cf2940411e5eab67f1d7aa6/src/createGridComponent.js#L787-L795

Interested in contributing? 😄

[2019-04-29 17:34] aaronjensen opened #227 "pointer-events: none never clears after scrolling when used w/ Preact"
I don't know if this is preact specific, but 1.8.1 is broken and 1.8.0 is not, likely https://github.com/bvaughn/react-window/commit/59df8ddfc97c7f3dd1d3063eb4d905a578e90455 is the culprit.

The problem is that as soon as you scroll, `pointer-events: none` gets set and never gets unset.

[2019-04-29 17:42] bvaughn commented on #227
Sounds like a Preact bug. React Window documentation site works correctly, and I haven't heard any other reports of this issue. (Seems like it would be a pretty major breakage.)

[2019-04-29 21:00] aaronjensen commented on #227
It is likely the same issue as this: https://github.com/developit/preact/issues/853 which is fixed in (the unreleased) Preact X

See repro: https://jsfiddle.net/deo8cahw/

`null` works, is there a reason [you changed it to `undefined` instead of `null`](https://github.com/bvaughn/react-window/commit/58c8c6a89f9a24525d23d52a78a87534e1b8dc6d)?

We can stay on `1.8.0` or `1.7.2` until we move to Prea

[2019-04-29 22:07] bvaughn commented on #227
Not if I recall. Probably just an assumption that `undefined` more closely mirrored the unset value.

[2019-04-29 22:23] tomasro27 opened #228 "Calling scrollToItem() or scrollTo() triggers onScroll (callback) event twice, with inconsistent scrollUpdateWasRequestedProperty"
**Repro steps:**
1) create a callback function, and pass it as a `prop` for `onScroll` to `VariableSizeGrid` component.
2) Call `scrollToItem()` or `scrollTo()`
3) Callback function gets called twice (in most cases.. see details below)
- First time, `scrollUpdateWasRequestedProperty` is `true`.
- Second time, `scrollUpdateWasRequestedProperty` is `false`.

Here is a **sandbox** with the repro:
htt

[2019-04-30 06:44] janhesters opened #230 "How to implement MuiVirtualizedTable in React Window?"
I'm using Material UI for my styling and have a large table that starts to get laggy.

So I found [this tutorial](https://material-ui.com/demos/tables/#virtualized-table) on using React Virtualized Table in the docs. But in it `MuiVirtualizedTable` uses React Virtualized Table and not React Window. In the former's docs it says:

So my question is: Is there a way to use React Window instead of RVT?

[2019-04-30 12:29] janhesters opened #231 "If you have itemData, do you need itemCount?"
If you have `itemData`, do you still need `itemCount`?

Because the code would look like this

[code]

[2019-04-30 12:30] janhesters commented on #230
I just learned, that `Table` and `MuiVirtualizedTable` are not using `<table />`, `<tr />` etc. under the hood, so you can just use React Window.

[2019-04-30 12:30] #230 closed

[2019-04-30 14:26] bvaughn commented on #231
Yes, as the docs will confirm.

`itemData` is untyped. It can be anything (including undefined)

[2019-04-30 14:26] #231 closed

[2019-04-30 15:55] stunaz opened #232 "Support UMD Release"

[2019-04-30 15:59] bvaughn commented on #232
I would accept a PR that adds a UMD build, if you'd like to submit one.

[2019-05-01 00:22] stunaz commented on #232
I wish I could help.Could you flag it as `help wanted`, hopefully somebody would help.

[2019-05-01 00:36] bvaughn commented on #232
Honestly, it's not something I care about supporting. If you have a use case for it,  PRs are welcome though 😄

[2019-05-01 21:20] Spenc84 commented on #221
So I've been toying with this issue a bit more and am curious to know what was the reasoning behind adding the style property `will-change: transform` to the grid's containing element? I don't understand that property well enough to know precisely what optimizations it attempts to apply, or what problems it attempts to solve, but when removed it does seem to eliminate the wheel scrolling issues in

[2019-05-02 12:11] jancama2 commented on #110
@piecyk I have tried your solution with `outerElementType` and it is super laggy, have you battletested it?:D

[2019-05-02 12:44] jancama2 commented on #110
I have tried it with `react-scrollbars-custom`. Its is less laggy but still laggy. Have someone had any issues with lags using custom scrollbars?

[2019-05-02 17:36] bnikom opened #233 "Don't scroll to top on re-render"
Hello,

I'm currently trying to load a grid that contains an input checkbox in each cell.
Whenever I click on the checkbox I call a function on the onChange which sets State in the parent component.
Every time I click on the checkbox/setState, the Grid re-renders to the top of the grid.
Is there any way to return to the exactly position where I clicked on the checkbox, or somehow not re-render the

[2019-05-02 17:45] bvaughn commented on #233
Can you share a full repro (in Code Sandbox)? I don't really have time to recreate from snippets.

[2019-05-02 19:47] bnikom commented on #233
of course.

I wrote up the basic example/scenario. Please let me know if you need anything else
https://codesandbox.io/embed/mznznkv0q8

Thank you

[2019-05-02 19:54] piecyk commented on #110
@jancama2 didn't battletested it 😂Can you share Code Sandbox when it gets laggy?

[2019-05-02 20:05] bvaughn commented on #233
Ah. You're creating the components (the functions) within the render method. This doesn't really work because when your outer component re-renders, the inner types will be recreated and React will unmount and re-mount.

Also you'll want to pass your state as `itemData` so the grid cells will be re-rendered when state changes.

Here you go:
https://codesandbox.io/embed/mznznkv0q8

[2019-05-02 20:05] #233 closed

[2019-05-04 19:54] simeonoff commented on #6
Looks like it works in Firefox Nightly version 68.

[2019-05-05 08:15] pupudu commented on #60
@einarq @BlaineBradbury @sompylasar In case you are still interested, I managed to get windowing work with table tags. In-fact, I ended up creating a library wrapping react-window. You can see a live demo here: https://window-table.now.sh/

**The reason why I wanted** the table tags was mainly for styling. Styling a regular html table is pretty easy with tw-bootstrap, and hence I wanted to do the

[2019-05-05 13:53] olee opened #234 "[Feature request] Disable / control unmounting of already mounted rows"
I would like to suggest an option to control the unmounting of already mounted rows.
This could give a performance boost to lists with a moderate amount of large rows but which are very expensive to render.
If properly handled (rows should use memo of course) it would only render rows the first time they are visible and then keep them mounted to be able to scroll back to them again without needing

[2019-05-05 15:06] bvaughn commented on #60
That's an interesting approach @pupudu. I don't know if there would be any accessibility concerns for having separate `<table>` tags for the headers and rows, but neat idea otherwise.

[2019-05-05 15:09] bvaughn commented on #234
I don't think that sounds like something I want to support _directly_. It sounds like a reasonable use case, I just don't think I want to take on the extra complexity.

You could perhaps implement this behavior by supplying your own `innerElementType` that's stateful and maintains a list of rows it's created by inspecting its props:
https://github.com/bvaughn/react-window/blob/f2b2106cc828e9828cf2

[2019-05-05 20:43] Steffi3rd opened #235 "[Question] React Native support?"
Hello @bvaughn, thanks for this amazing package!

I would like to know if this New `react-virtualized` support `react-native`?

[2019-05-05 20:44] bvaughn commented on #235
Nope! :) RN has its own virtual list options bundled with the framework

[2019-05-05 20:44] #235 closed

[2019-05-06 05:32] warmar opened #236 "react: All visible rows are re-rendered on update when Row function depends on state"
I am displaying a large, dynamic data set, each row of which is stored in the state of a react component. My Row function is thus dependent on that state. This causes all visible rows to be re-rendered every time a row is added or removed.

I originally noticed this problem when I discovered that the tool tips on each row would flicker on state change, and I've created a demo on codesandbox to ill

[2019-05-06 10:29] TrySound commented on #236
FixedSizeList child is a component. In your example row is recreated on every render as a result it's remounted on every render.
Here's how you may optimise this. All rows are still updated because you change itemData but at least not remounted.
https://codesandbox.io/s/5k095o3n1p

[2019-05-06 12:32] daring123 opened #237 "why use memorize-one to store style of items"
The code confused me

[code]

why not just use a object to store style of each item
The performance is more better ?

[2019-05-06 14:24] donatoaguirre24 commented on #121
Hi, I have a newbie question. I run into a similar issue. I have a FixedSizeGrid wrapped around an AutoSizer so the number of columns depends on the current width. When the width isn’t enough to display another column the grid looks misaligned. How can I center the grid or achieve something similar in order to improve the UI??

Attached screenshot for details.

![image](https://user-images.githubu

[2019-05-06 15:42] bvaughn commented on #236
Thanks for the answer, Bogdan!

[2019-05-06 15:42] #236 closed

[2019-05-06 15:44] bvaughn commented on #121
@donatoaguirre24 Something like this https://codesandbox.io/s/jjkz5y130w

[2019-05-06 15:46] bvaughn commented on #237
This was a subjective decision when I wrote the code. Seemed like a more maintainable pattern for memoizing and resetting the styles.

[2019-05-06 15:46] #237 closed

[2019-05-06 15:56] warmar commented on #236
Woops, I must have missed this page in the documentation:
https://react-window.now.sh/#/examples/list/memoized-list-items

Thanks so much for your help!

[2019-05-06 16:35] donatoaguirre24 commented on #121
Thanks!! I really appreciate your quick response. Worked perfectly 👍🏻

[2019-05-06 18:56] aaronjensen commented on #227
Would it make sense to revert that change since they should be effectively the same thing but one works w/ the current version of Preact? If not, we can close this. Thanks!

[2019-05-07 00:49] abhikp opened #238 "Ok to put callbacks in the data source?"
I'm trying to build an interactive grid with `react-window` and am new to the library. I was thinking of using the `itemData` prop as a way to pass callbacks that change state of the grid data.

For instance, I'm trying to highlight a row on hover and use `itemData` to pass the highlighted row (`highlightedRow`) and the set state action (`setHighlightedRow`) to change the index of the highlighted

[2019-05-07 07:53] simeonoff commented on #6
@bvaughn I am using the DynamicSizeList with the InfiniteLoader and Autosizer components to try to create a feed. I like what I am seeng so far, keep it up :)

In terms of API and behavior:

1. Can we get the data object as a second argument in the itemKey callback, the way it is in the FixedSizeList?

2. Can we reset the the inner container height when the data object is filtered/modified.

[2019-05-07 16:02] bvaughn commented on #6
This is already passed as a named `data` parameter:
https://github.com/bvaughn/react-window/blob/f2b2106cc828e9828cf2940411e5eab67f1d7aa6/src/createGridComponent.js#L62-L66

[2019-05-07 16:03] bvaughn commented on #6
Whoops. Sorry. I retract my previous comment.

[2019-05-08 00:38] bvaughn commented on #238
In general, passing callbacks is fine. The way the Code Sandbox you linked to does it will break memoization though, since the `itemData` object (wrapper) will be recreated every time the `Example` component is rendered.

If the `highlightedRow` value changes, you'd expect this- but what if a parent causes a re-render that wouldn't otherwise require cells to re-render?

You can confirm this using

[2019-05-08 00:38] #238 closed

[2019-05-08 01:23] abhikp commented on #238
Thanks for the tips and sorry for the missing question label!

[2019-05-08 02:22] bvaughn commented on #238
No worries on that. Only maintainers can add labels! 😉

On Tue, May 7, 2019, 6:23 PM Abhik B Pramanik <notifications@github.com>
wrote:

[2019-05-09 18:18] fabiospampinato commented on #136
@bvaughn I can no longer reproduce this in v1.8.1, perhaps it got fixed accidentally.

[2019-05-09 18:20] bvaughn commented on #136
😅

[2019-05-09 18:33] fabiospampinato commented on #136
Wait now I can reproduce it again but doing something different 🤔 If I do the following:

- Scroll the list down
- Hide the whole node via CSS (`display: none`)
- Perform a `#scrollToItem ( 0, 'auto' )`
- Re-show the node (removing `display: none`)

The list looks broken. I'll try to craft a self-contained example in codesandbox.

[2019-05-09 18:57] fabiospampinato commented on #136
@bvaughn here's a snippet that reproduces the problem for me: https://codesandbox.io/s/j2w84zr943 weirdly enough for me this reproduces the issue on Chrome but not on Firefox. Hope that helps.

[2019-05-12 16:35] iAziz786 opened #240 "What are the caveats?"
`react-window` is helping a lot of users through its abstraction, but like every other abstraction, we know that there is a cost associated with it. Please consider adding the caveats to the README; let the first time users and visitor know what are they compromising.

[2019-05-12 16:37] bvaughn commented on #240
ok

[2019-05-12 16:37] #240 closed

[2019-05-14 17:46] kgregory commented on #165
@bvaughn Sorry to necro this thread, but I wanted to add a forked version of your codesandbox: https://codesandbox.io/s/8p8r03788

The list's border was sizing it 2 pixels taller than the height handed down from `AutoSizer`, resulting in a window scrollbar that overlayed the list's own scrollbar.

[2019-05-14 17:56] kgregory commented on #30
https://codesandbox.io/s/vy620pkzzy

FYI for considering these examples, please note that use of `window.innerWidth` and `window.innerHeight` do not account the presence of scrollbars.  The scrollbar size, which varies by browser/device (and whether these is enough content for them to be presented), needs to be deducted.

[2019-05-15 03:41] ricokahler opened #241 "[documentation] Is this supposed to be "start" instead of "smart"?"
Is this supposed to be "start" instead of "smart"?

![image](https://user-images.githubusercontent.com/10551026/57746993-a0237000-76a1-11e9-83c0-dd769e091cac.png)

[From here](https://react-window.now.sh/#/examples/list/scroll-to-item)

I stared at this page for a while wondering what "smart" alignment was and then I realized it's probably "start"!

Just thought I'd bring it up. Thanks for the ama

[2019-05-15 03:49] bvaughn commented on #241
No. Smart is correct. It's in the docs

On Tue, May 14, 2019, 8:41 PM Rico Kahler <notifications@github.com> wrote:

[2019-05-15 03:49] bvaughn commented on #241
"smart" is an option 🙂 check the docs

[2019-05-15 03:49] #241 closed

[2019-05-20 03:41] ricokahler opened #242 "[feature request] Support passing props to outer element."
(at work, we've been getting into the habit of using SBAR to communicate and I've noticed it's a great format for feature requests)

## Situation

There is no way to pass additional props to the outer `div` of any of the react-window components.

## Background

I'm trying to mimic the "arrow key stepper" functionality from react-virtualized. In order to do this, I would like add the prop `tabIndex

[2019-05-20 07:42] chenhebing opened #244 "In the mobile browser, it will shake when scrolling to the top or bottom."
Such as the title, list will shake when scrolling to the top or bottom, but react-virtualized is not happened.

You can view the video below.

[video url](https://youtu.be/HJd70gdAzFs)

[2019-05-20 07:53] TrySound commented on #242
You may pass any component to `outerElementType`. That component may render div or another element like you want. To pass props from outside you may use react context.

[2019-05-20 10:20] EyMaddis commented on #16
This would be better, but [does not work for all browsers](https://developer.mozilla.org/en-US/docs/Web/API/Window/scrollTo#Browser_Compatibility) (but there is a [polyfill](https://github.com/iamdustan/smoothscroll)):

[code]

It would be great if there was a proper way to access this through react-window or get the calculated offsets for an index, @bvaughn.

[2019-05-20 11:37] MarkFalconbridge commented on #47
I may be wrong but I'm not convinced that `will-change: transform` is needed or adding any benefit here. [MDN](https://developer.mozilla.org/en-US/docs/Web/CSS/will-change#Values) states that a custom ident value means "Indicates that the author expects to animate or change the property with the given name on the element in the near future." In this case setting `will-change: transform` means that

[2019-05-20 14:57] bvaughn commented on #242
There are a few ways of passing data down with the existing API. I don't like the pattern of spreading rest props for a library like react-window. (Maybe I can go into the "why" at some point when I'm less rushed for time than I am this morning.)

Anyway... I think there are existing ways to do what you're going for within the current API:

### Passing props through

Check out [the docs](https://r

[2019-05-20 14:57] #242 closed

[2019-05-20 14:59] bvaughn commented on #244
This looks like Safari elastic scrolling and not something this library in particular is doing.

[2019-05-20 15:53] bvaughn commented on #47
Admittedly it's been a long time since I [added this style to react-virtualized](https://github.com/bvaughn/react-virtualized/commit/b7a799aab13121cacd6f6ea2b9c2117c2225af6b). When I created this library, I kind of just copied it over without much thought. Looking back in my notes when I added the style:

Firefox only repaints the new row or column (regardless of this property).
Safari and IE don'

[2019-05-20 15:55] bvaughn commented on #221
Hey @Spenc84, sorry for the slow response time. I struggle to keep up with projects lately.

Admittedly it's been a long time since I [added the `will-change` style to react-virtualized](https://github.com/bvaughn/react-virtualized/commit/b7a799aab13121cacd6f6ea2b9c2117c2225af6b). When I created this library, I kind of just copied it over without much thought. Looking back in my notes when I added

[2019-05-20 18:58] stephenotalora opened #245 "TypeScript support"
this is more of a questions and as such it can be flagged as so. As the trend is to continue to move towards TypeScript are there any plans to add TS support to react-window?

[2019-05-20 19:10] bvaughn commented on #245
Nope.

Definitely Typed repo is the place to go for libdefs of this library

[2019-05-20 19:10] #245 closed

[2019-05-21 07:25] MarkFalconbridge commented on #47
I'm a little busy myself at the moment but I might be able to get to investigate performance profiling in a couple of weeks or so.

[2019-05-21 13:13] GonzaloRizzo opened #247 "[Feature Request] Reverse direction support"
Is there any plans to implement something like reverse direction support? I'm currently implementing a chat application and it would be very handy

There seems to be some work done here https://github.com/corupta/react-window/tree/npm

[2019-05-21 13:44] bvaughn commented on #247
No current plans, no

[2019-05-21 13:44] #247 closed

[2019-05-21 13:45] bvaughn commented on #47
Sounds good. Let me know if you get around to it.

On Tue, May 21, 2019, 12:25 AM MarkFalconbridge <notifications@github.com>
wrote:

[2019-05-21 16:00] Spenc84 commented on #221
Admittedly my experience with profiling is fairly limited, so I'm not sure how much help I would be in that regard. It is on my list of topics to delve further into however, so I'd be happy to lend a hand whenever that time comes, but I can't be sure how far down that road that will be.

Whenever I do get that opportunity however I'll be sure to use this as a test case if you haven't already addre

[2019-05-21 20:26] mattch opened #248 "Sporadic scroll jumping to the top without error message"
I have a FixedSizeList that works perfectly (stops scrolling at the bottom of the list) most of the time, but sporadically will jump to the top of the list while scrolling (usually towards the bottom but sometimes in the middle).   From what I've read in other issues and what I've seen, this is normal behavior if the list scrolls past the itemCount.   My itemCount is set to the myArray.length - 1,

[2019-05-21 20:27] bvaughn commented on #248
If you provide a repro case (actual working code, in Code Sandbox) I'd be happy to take a look. I don't really have time to look at partial code examples and guess though. Hope you understand!

[2019-05-21 20:27] #248 closed

[2019-05-21 20:41] mattch commented on #248
Yeah, I understand.  I'll try.   Can you answer one question tho?  Do I need to clear a cache with FixedSizedList when changing between list data (new itemData and itemCount)?

[2019-05-21 21:04] bvaughn commented on #248
What cache are you referring to?

You would need to reset `VariableSizeList` cache:
https://github.com/bvaughn/react-window/issues/199#issuecomment-479957451

But shouldn't need to clear `FixedSizeList`.

[2019-05-22 14:07] JESii commented on #213
Thanks for the NPM dependency list -- never knew about that!

[2019-05-22 15:53] blenoski commented on #244
I am observing similar behavior on Safari iOS (not seeing in Chrome iOS).  FWIW, found a commit from react-virtualized that seems like it was related to this problem: https://github.com/bvaughn/react-virtualized/pull/616/files

[2019-05-22 15:58] bvaughn commented on #244
Want to try that out in react-window @blenoski ?

[2019-05-22 19:42] jazkh opened #249 "Autosizer does not work with react-window"
I have asked this question on SO. However, I am still waiting for the solution to this problem. Please have a look.

I want to add another question.
I want my collection of images to appear like this
https://m.youtube.com/watch?v=jLtr4tpFKQE&time_continue=15
How can I wrap the images in flex like the above given link example?

Also, Autosizer height and width does not work, I had to use window.inn

[2019-05-22 20:24] bvaughn commented on #249
The auto sizer component _definitely_ works with this library. Check out the FAQs:
https://github.com/bvaughn/react-window#can-a-list-or-a-grid-fill-100-the-width-or-height-of-a-page

Sorry you haven't gotten much of a response from Stack Overflow, but I think that's still the right place to go for this sort of question (assuming you've read the FAQs first :wink:)

[2019-05-22 20:24] #249 closed

[2019-05-22 20:29] blenoski commented on #244
@bvaughn
I will give it a try and report back to the issue.

I also have to update my comment 2 back, I was able to reproduce on Chrome iOS.  Attaching a screen capture from iPhone7 for reference:
![ios_scroll_bounce_issue](https://user-images.githubusercontent.com/26208242/58206511-67d5f000-7ca6-11e9-9206-ea83931eb3d2.gif)

[2019-05-22 20:35] bvaughn commented on #244
Cool, thanks! 😁

[2019-05-22 23:10] blenoski commented on #244
Update:
I did some quick hacking and was able to confirm that clamping scrollTop to [0, totalHeight] eliminates the observed flickering on iOS (this was in the _onScrollVertical function in createListComponent.js

It does require knowing the current height of the innerContainer element plus the height of the last row which I imagine will be the tricky part.  Also, assuming similar issues would exi

[2019-05-23 05:43] jazkh commented on #249
As you said that it definitely works, can you pls guide me why it is not working for me?

I have already read the FAQs, but the problem is height and width is zero due to which no image is displayed on the page unless I use window.innerHeigth/Width. I have pasted my code on SO and I don't know what's wrong with it because docs are not helping much.
I hope you understood my question well. Pls let m

[2019-05-23 15:50] blenoski commented on #244
Update (cc. @bvaughn)

Have a PR up here (https://github.com/bvaughn/react-window/pull/250).
Scoped the PR to just vertical scrolling on lists but I was able to verify it removes the issue shown in the GIF three posts back.

[2019-05-23 17:59] chrishtr commented on #221
In Chromium, will-change: transform on an element with overflow:scroll will cause the scroller to be composited, and hence raster into a separate texture. Because it's composited, it now also has threaded scrolling by default, meaning that scrolling will happen independently of the main thread, and scroll events will be sent to the main thread asynchronously.

This is why there is different behavi

[2019-05-23 18:48] Spenc84 commented on #221
That's incredibly useful information, and makes a lot of sense. Thank you for taking the time to share that.

[2019-05-23 21:31] jeffal commented on #68
Horizontal scrolling does not work in IE11, see [the demo site](https://react-window.now.sh/#/examples/grid/fixed-size).

[2019-05-27 09:48] EyMaddis commented on #244
I just noticed the same. This issue is basically this old [react-virtualized](https://github.com/bvaughn/react-virtualized/issues/532) issue.

[2019-05-27 15:14] bvaughn commented on #232
Cleaning up issues today. Don't intend to actively support this one so I'm going to close it.

[2019-05-27 15:14] #232 closed

[2019-05-27 15:43] #226 closed

[2019-05-27 17:36] bvaughn commented on #244
Worth noting that the linked RV commit was reverted in https://github.com/bvaughn/react-virtualized/pull/616 so the long-standing RV solution to this is just to prevent scroll offsets less than 0. I think I'm comfortable making that change to RW as well, although I'll need to make sure it doesn't break RTL.

[2019-05-27 23:51] bvaughn commented on #159
Fixed via #251

[2019-05-27 23:55] bvaughn commented on #227
Cleaning up GitHub issues today. The [commit](https://github.com/bvaughn/react-window/commit/58c8c6a89f9a24525d23d52a78a87534e1b8dc6d) you linked to was from PR #210.

Given that this change makes the validator happy, and will also work for the upcoming Preact release, I think I'm going to leave it in place. If you would like to open a PR that satisfies both Preact and the validator though- I'd be

[2019-05-27 23:55] #227 closed

[2019-05-28 00:01] bvaughn commented on #198
This was also fixed by #251!

Tested in Chrome, Firefox, and Safari.

[2019-05-28 00:01] #198 closed

[2019-05-28 00:05] bvaughn commented on #228
I don't think I have the time to look into this. If you'd like to submit a PR with unit tests I'll be happy to review and consider it.

[2019-05-28 00:08] bvaughn commented on #221
Thanks for the added context, @chrishtr 🙇

I'm not entirely sure how to act on this information. It sounds like `will-change: transform` is serving a useful function for this library in most case, as threaded scrolling seems desirable. The wheel event performance behavior reported seems pretty unfortunate though.

I guess as a stop gap, the `will-change` style can be easily overridden using the `s

[2019-05-28 00:25] bvaughn commented on #244
Bug fix released in 1.8.2 - https://github.com/bvaughn/react-window/blob/master/CHANGELOG.md#182

[2019-05-28 00:25] #244 closed

[2019-05-28 00:25] bvaughn commented on #159
Bug fix released in 1.8.2 - https://github.com/bvaughn/react-window/blob/master/CHANGELOG.md#182

[2019-05-28 00:25] bvaughn commented on #198
Bug fix released in 1.8.2 - https://github.com/bvaughn/react-window/blob/master/CHANGELOG.md#182

[2019-05-28 07:24] MarkFalconbridge commented on #159
Looks good but I'm still seeing an issue in Edge. Go to https://react-window.now.sh/#/examples/list/fixed-size-rtl using Edge and click the scroll to 500 buttons. The content of the list/grid disappears.

[2019-05-28 11:18] jeremieroy opened #252 "Is there any way to have an :hover css modifier at the row level ?"
Assuming a multi-columns table, it is often interesting to be able to highlight the whole row under the cursor with an :hover css modifier.
I didn't find any clean way to achieve this...
I can highlight a single cell but that is not very helpful ^^'
Any idea is welcome :D

[2019-05-28 11:44] TrySound commented on #252
You may highlight row manually with javascript for grids. Or you may just use list which allows you to render the whole row. My tables are all FixedSizeList based.

[2019-05-28 12:38] jeremieroy commented on #252
I am using VariableSizeGrid, but there is no "row"  element.

Not sure what you have in mind, something like keeping track of the current row index under the mouse icon on a onMouseMove event ?
Then keeping it in the state and manually setting a "is-hovered" class modifier on every cell item in the row ?
Would work I guess, itl feels a bit heavy for such a feature :/

[2019-05-28 14:11] TrySound commented on #252
Yes, you may use `onMouseEnter` and `onMouseLeave` for that. Or use VariableSizeList instead.

[2019-05-28 14:23] bvaughn commented on #252
You could use the `itemData` prop to share the current row and a callback, e.g.:
https://codesandbox.io/s/bvaughnreactwindow-grid-row-hover-9j28g

[2019-05-28 14:23] #252 closed

[2019-05-28 18:39] #159 closed

[2019-05-28 18:39] bvaughn commented on #159
Works for me, but I'm testing with OSX Edge preview.

[2019-05-29 13:26] MarkFalconbridge commented on #159
I'm using Microsoft Edge 44.17763.1.0 (Microsoft EdgeHTML 18.17763) and it fails on that.

[2019-05-29 13:39] MarkFalconbridge commented on #159
As far as I can see your fix means that when used in RTL anyone using the onScroll methods can only use the scrollLeft value contained in them for driving another react-window component because the scrollLeft values represent react-window's normalized version of the browser's scrollLeft value. That's fine but should probably be documented in the descriptions of onScroll.

[2019-05-29 20:21] pkacprzak opened #253 "[Question] Recommended way to make FixedSizeGrid responsive?"
I was previously working with React Bootstrap Col and Row elements to make my grid responsive, and now, since the number of elements in the grid is too large for non-windowing rendering to be both allow users to filter the list and be efficient at the same time, I found react-window to be good for my needs but I'd like to make it responsive somehow. Is recalculating manually values for columnCount

[2019-05-29 20:27] bvaughn commented on #253
I'm not sure I understand this question, sorry. You will need to manually calculate the number of columns and rows, as well as their size, yes. This library is not a data-grid. Check out the examples on the docs website? If you have a more specific question, please show me what you've tried (with a Code Sandbox or similar) and I could maybe provide more helpful feedback.

[2019-05-29 20:27] #253 closed

[2019-05-30 22:18] chrishtr commented on #221
Yes, threaded scrolling is likely desirable, because it will allow scrolling to not jank if any main-thread
javascript, DOM rendering, or other tasks are running. The downside however, is that you lose a certain amount of
control of per-frame rendering. In particular, if the scrolling is fast enough, the javascript thread slow
enough, or content complex enough, scrolling will get ahead of the cont

[2019-05-30 22:55] bvaughn commented on #221
Thanks for confirming!

[2019-05-30 22:55] #221 closed

[2019-05-31 02:13] HugoSky opened #254 "styled-components leads to caton"
if i replace the html tag with styled-conponents, the list will become very caton. The Frame Rate will change from 50  to below 10.

Am I ignoring something?

[2019-05-31 02:20] bvaughn commented on #254
No idea. But without a repro that I can even look at, I can't do much here 😄If you share something I can look at (like a Code Sandbox) I can take a quick look and see if anything stands out. Until then...

[2019-05-31 02:20] #254 closed

[2019-05-31 09:19] NexxLuo commented on #252
Can I add an outter row element ? How to do it ?

[2019-05-31 13:19] bvaughn commented on #252
No, not to a grid

[2019-05-31 18:48] sally4388you opened #255 "Integration with react-select when there is no options left"
Hi there!

I have a problem with integration with react-select. Really hope anyone can help me here!! Thanks in advance!!!

Example in
https://codesandbox.io/s/01k87orqzn

If you change the number of options to 0, there will be an error showing up in the console that says `NaN is an invalid value for the height css style property`.

This happens when you set `removeSelected` in Select to true. If

[2019-05-31 19:03] #255 closed

[2019-05-31 19:04] sally4388you commented on #255
Anyways. Guess I will use AutoSizer. Seems it works.

Didn't want to import another library tho...

[2019-05-31 19:20] sally4388you commented on #255
And also the error could come from `initialScrollOffset`, `height` and `itemCount`

[2019-05-31 19:43] bvaughn commented on #255
This library does not have any support for react-select. Sorry but you'll have to decide how to handle props coming from it  on your own.

[2019-06-01 02:28] NexxLuo opened #256 "Can`t trigger scroll event when i use FixedSizeList and scroll horizontal"
use FixedSizeList  ;
scroll horizontal ;
onScroll event not trigger;

[2019-06-01 02:36] bvaughn commented on #256
Sorry, I don't have time to look at bugs that don't include repro code. Please provide a Code Sandbox or similar.

[2019-06-01 02:36] #256 closed

[2019-06-01 03:43] NexxLuo commented on #256
https://codesandbox.io/embed/thirsty-almeida-2bkoq

there is a demo .
you can scroll  and see the console

[2019-06-01 04:54] bvaughn commented on #256
Your demo shows a vertical list component. `onScroll` is only be called when you scroll in the primary direction (in this case, vertical). I can see where the docs might not be detailed enough in this regard.

[2019-06-01 22:57] Bnaya commented on #98
I wanted to finally share what i'm using these props for:
![demo2](https://user-images.githubusercontent.com/1304862/58754471-398fb600-84d9-11e9-9c8d-975f7a58c527.gif)

https://codesandbox.io/s/github/Bnaya/sticky-eurovision/
And some of the story behind it:
https://github.com/Bnaya/sticky-eurovision#sticky-eurovision-technology-demonstrator-for-css-sticky-dom-virtualization-and-react-hooks

I thi

[2019-06-01 23:46] bvaughn commented on #98
Right now, this library supports React v15+. Adding a feature that relied on context would essentially require me to drop support for <16.3, which is not something I am that open to doing.

And as you mentioned, passing them as props would break memoization in a big way.

You're always welcome to create a PR an we can talk about more specifics. All the same concerns I mentioned in my comment above

[2019-06-02 05:30] Bnaya commented on #98
What about optional user-provided memo key produced, that gets these values
as param, and can choose if to invalidate cells.
You will have optional overhead of a function call, and only opt-in
overhead of react updates

On Sun, Jun 2, 2019, 02:46 Brian Vaughn <notifications@github.com> wrote:

[2019-06-02 14:07] bvaughn commented on #98
I don't understand what you're suggesting, but React memoization considers props too, not just the key.

[2019-06-02 14:48] Bnaya commented on #98
I will rephrase, If i understand correctly:

The concern is that adding this prop will hurt `areEqual` that supplied as the recommended memo function.

So what if the implementation of  `areEqual` will explicitly ignore the given `itemsRenderedCallbackParams`, and the user will be able to write his own function if he needs to depended on that updated data.
I personally also don't need it check on

[2019-06-02 14:56] bvaughn commented on #98
The concern isn't about `areEqual`. That memoization helper exists to keep the wrapper object around styles from breaking memoization. It works because the values within the styles wrapper object don't change though. What you're describing _would_ be a change, so memoization couldn't just ignore it without breaking the items.

I still don't understand what you're suggesting about the key. The `ite

[2019-06-02 14:58] Bnaya commented on #234
Out of curiosity:
What's the painful part in your use-case? the DOM creation or react rendering?
I think another approach is implementing DOM reuse, but it will require adding intermediate level of virtual keys.

[2019-06-02 15:29] Bnaya commented on #98
My goal:
I need to give special behaviour to the first and last rendered cells vertical and horizontal.
The way i can tell that a cell is first/last is comparing `item.rowIndex === item.itemsRenderedCallbackParams.overscanRowStartIndex`

The idea is: even tho cell X,Y is changing, rowIndex === overscanRowStartIndex, I give it a named key, `first-in-column:first-in-row`, `first-in-column:1-in-row`

[2019-06-02 15:34] bvaughn commented on #98
It _could be_ implemented that way, but I'm not comfortable wit treating something that _changes_ as though it doesn't change. I think it could lead to broken/unexpected behavior. The reason this is _okay_ with `style` is that it _only changes shallowly_ but that would not be the case with the indices you're describing.

I think we're going in a circles a little at this point. 😄 If you'd like to c

[2019-06-02 15:45] fabiospampinato commented on #136
@bvaughn can this issue be re-opened now that there's a codesandbox that reproduces the issue?

[2019-06-02 16:00] bvaughn commented on #136
Sure, I'll re-open it. I won't be able to look into it any time soon though, so if it's something you want to get fixed, shoot me a PR? Preferably with at least one new test that accompanies the fix 😄

[2019-06-02 16:01] bvaughn commented on #136
Doesn't look like the issue title matches the repro case anymore though. Mind updating it given the newer info?

[2019-06-02 16:41] fabiospampinato commented on #136
Thanks, I'll try to give it a shot in about 2 weeks time 👍

Btw I apologize for my comment in the other issue about the "ugliness" of the `outerElementType` prop, I think I'm not writing code the React way some times, and in hindsight that prop is actually pretty powerful.

[2019-06-02 16:48] bvaughn commented on #136
Hey no problem 😄 I don't remember which comment you're referring to, but I appreciate this follow up comment!

[2019-06-03 19:57] tony-scio commented on #6
I've been using `DynamicSizeList` from `1.6.0-alpha.1` with `InfiniteLoader` for a while now and it has been working great.

However, now I have a requirement to use `scrollToItem()`. Similar to an above comment, I get:
[code]

It doesn't appear to be timing related as I tried calling it after a long `setTimeout`. So, can I force a measurement? Or are there any workarounds?

[2019-06-04 11:17] p2227 commented on #6
why use findDOMNode?

[2019-06-04 18:42] olee commented on #234
Keeping react components mounted is pretty much the same as DOM reuse.
The initial rendering of new react nodes (ie. nodes that were added or have a new key) is the most expensive part of react rendering - subsequent updates are way faster.
This is why I would love to see a library supporting virtual scrolling, but at the same time keeping already rendered components mounted (because as long as th

[2019-06-05 14:57] MarkFalconbridge opened #257 "FixedSizeGrid.scrollToItem sometimes scrolls the item only half into view"
If the to scroll to is at the bottom of the grid and is already in view, calling scrollToItem actually scrolls the grid so that the item is only partially visible.

Here (https://codesandbox.io/s/bvaughnreactwindow-scrollingtoagriditem-d8cc4) is a sandbox to illustrate the issue. If you manually scroll the grid so that cell "r9, c5" is fully visible then click the "scroll to row 9 column 5" button

[2019-06-05 15:16] bvaughn commented on #257
Works for me. What browser/OS?

[2019-06-06 07:30] MarkFalconbridge commented on #257
I'm using Windows. It has that behavior on Chrome, Firefox and Edge. I'm guessing that it's because of the scrollbars which if you on a Mac won't be there?

[2019-06-06 11:23] Bnaya commented on #234
@olee
I'm exploring possibilities when exposing the up-to-date overscan information to the keyProvider and cell components (its a patch on react-window),
https://codesandbox.io/s/github/Bnaya/sticky-eurovision/tree/iteration
Take a look at `src/implementations/WithReactWindowDOMReuse/WithReactWindowDOMReuse.tsx`

Using custom keyProvider and modulo  i'm able to (almost) keep using same keys, and r

[2019-06-06 14:12] bvaughn commented on #257
Perhaps, although I usually try to test with scrollbars turned on in OSX as well. I'll look into it when I have time.

[2019-06-06 14:18] Bnaya commented on #234
I've made another iteration, when i'm using component state to track recycling, looks very promising
In the picture we can see row 17 takes the components instances of row 2
![Screen Shot 2019-06-06 at 17 13 02](https://user-images.githubusercontent.com/1304862/59040022-921ad680-887e-11e9-9c93-4b5b7f823538.png)

There is still an issue when you scroll up to the ends and the rendered rows number is

[2019-06-06 23:15] sonofjack commented on #252
@NexxLuo I wasn't happy with the performance by storing the hovered row index in state.
What I did instead was to give every rendered cell a class associated with the `rowIndex`
example. `cell--hover${rowIndex}`.

Then on `onMouseEnter` you can add class to each cell with a specific `rowIndex`.

[code]

Hope this helps.

[2019-06-07 00:06] bvaughn commented on #252
Thanks for sharing another solution, @sonofjack 😄

I suppose you could also use a descendant selector and just add/remove classes from the grid itself.

[2019-06-07 00:14] sonofjack commented on #252
@bvaughn Yes that would be even better, thank you!

[2019-06-07 04:36] umphy opened #258 "UMD builds for CDN"
Are there any plans to create UMD builds for CDNs?

[2019-06-07 04:46] bvaughn commented on #258
No, I have no plans to add a UMD build.

As mentioned on issue #232, if you'd be interested in contributing a PR then I can commit to reviewing and considering it, but that's it 😄

[2019-06-07 04:46] #258 closed

[2019-06-07 15:18] WillSquire commented on #6
Do type definitions exist for the `@next` branch?

[2019-06-07 22:08] martynaskadisa commented on #6
@WillSquire no, they do not. I'm also unsure if it's possible to release them at `@next` tag in DefinitelyTyped (I might be mistaken). Also, I think it would be better to wait till this branch is finally merged and new version released since API could still change.

[2019-06-10 15:09] JESii opened #259 "react-window.now.sh blocked by Norton Safe Web agent"
FYI... this just started happening... Norton Safe Web claims this is a "known dangerous web page" with the following display:
![image](https://user-images.githubusercontent.com/486/59204813-4c982b00-8b56-11e9-8011-2869c9f41115.png)

This is obviously related to now.sh ([here's the Norton report](https://safeweb.norton.com/report/show?url=https://react-window.now.sh/&ulang=en)) and other folks on t

[2019-06-10 15:33] bvaughn commented on #259
Thanks for the heads up!

Going to close this issue since I can't do anything about it directly. I'll check to make sure Zeit is aware of it.

[2019-06-10 15:33] #259 closed

[2019-06-10 17:38] bvaughn commented on #259
Zeit is in contact with Norton about this

[2019-06-10 21:28] bvaughn commented on #259
Zeit says it is resolved now and they have monitoring setup to ensure it doesn't happen again.

[2019-06-12 21:06] chadoh opened #263 "Documentation/VariableSizeList: example of using `estimatedItemSize` with `itemSize`"
Seeing an example of how to use these together would be really helpful.

Also, I get an error for invalid values of `itemSize`, but `estimatedItemSize` threw no error when I mistakenly passed a function to it.

Some specific questions I have:

* When does `itemSize` get called?
* Does it override `estimatedItemSize` at that time?
* Do I have access to the _rendered_ item in the `itemSize` function

[2019-06-12 21:21] bvaughn commented on #263
Just add an `estimatedItemSize` prop to the `VariableSizeList` docs example:
https://react-window.now.sh/#/examples/list/variable-size

There isn't anything special about it really. 😄 It just makes the initial size estimate slightly more accurate, which means it will change  less over time as actual measurements are requested.

I'd prefer to  avoid multi-part GitHub issues. I don't really consider

[2019-06-12 21:21] #263 closed

[2019-06-12 21:30] chadoh commented on #263
Can you link me to the spot in the code where I would update this, instead of the live example?

But if I miss that, then my browser console doesn't help me in the same way it helps me if I mess up the `itemSize` prop.

Sure, but this is all about documenting these two props, in one way or another.

How can I adjust the item's height to the element's "natural" height, without reverse engineering t

[2019-06-13 20:20] acerola1 opened #264 "Prevent DOM element re-render in list to enable css animation"
I described my problem on stack overflow.

https://stackoverflow.com/questions/56588001/prevent-dom-element-re-render-in-virtualized-tree-component-using-react-window

Is there a solution for this problem?

[2019-06-13 20:24] john-osullivan commented on #166
Didn't see a PR for this yet, so it seemed like my comment would best go here.  Maybe I'm in a minority, but given that I'm using `react-window` to display a massive list, a sticky header row is a pretty key piece of the user experience for large grids.

That said, I'm a big fan of how this lib reduces footprint and ups speed, so if you'd rather not build the solution in directly, I see where you'

[2019-06-13 20:26] bvaughn commented on #264
Sorry but I'm going to close this. GH issues are meant for bug reports and discussing feature requests, not for promoting Stack Overflow questions.

[2019-06-13 20:26] #264 closed

[2019-06-13 20:54] apazzolini commented on #166
Hey - you're right, the demo requires a fork to always render the sticky header and left column, regardless of the scroll position. I think a better approach for a PR here would be to allow customizing some ancillary ranges to render in addition to the cells based on scroll position.

That said, I ended up writing my own virtualization component to directly support this and some other custom logic

[2019-06-15 02:37] cquiroz commented on #16
The sandbox of this example seems to be deleted, Do you have another?

[2019-06-15 02:40] bvaughn commented on #16
Sandbox is still there.

[2019-06-15 02:41] cquiroz commented on #16
Yeah sorry, somehow it showed as deleted on FF but it is fine on Chrome, perhaps on of my addons

[2019-06-16 03:47] episodeyang commented on #252
Just want to say this thread is awesome. Thank you all for your comments!

[2019-06-16 16:41] Kizmar opened #269 "Scrolling is spastic"
I landed on this library from Material-UI's documentation on Lists. I'm trying to implement a simple example of the FixedSizeList, but the scrolling goes crazy on me. When I try to scroll down the list, it jumps up and down and I repeatedly get `onScroll` backward/forward events.

What am I doing wrong here?
[code]

[2019-06-16 16:43] bvaughn commented on #269
Doesn't look like you're using  the `style` prop. That's very important.

If that doesn't turn out to be it, give me a  runnable repro and I'll take a look. Otherwise, I've learned that it's not a great use of my time to guess from partial code examples.

[2019-06-16 16:43] #269 closed

[2019-06-16 16:43] bvaughn commented on #269
I would also advise against using an inline function like that for the cell renderer.

[2019-06-16 16:46] Kizmar commented on #269
Adding `style={style}` fixed my scrolling issue. Thank you.

I was just trying to get this to work in the simplest way possible. I'll be refactoring the guts of it now.

[2019-06-17 17:46] brunolemos commented on #6
@bvaughn I've been willing to use this on [devhub](https://github.com/devhubapp/devhub), but before I invest in integrating it do you think it's already on good shape or still has some blocker issues?

[2019-06-17 17:54] bvaughn commented on #6
@brunolemos My todo list on #102 is pretty accurate I think. If you've tested and feel like it's in a good shape for the browsers you're targeting, then keep me posted!

[2019-06-17 23:25] justingrant commented on #264
_(I answered in StackOverflow and copying my answer here to help folks who end up here from Google or GitHub searches. BTW this issue is a dupe of #94.)_

@acerola1 - To prevent react-window from re-rendering every item in the list, you need to:

1. memoize your row-rendering function
2. move that function outside the scope of the parent function

This is the strategy used in the react-window exam

[2019-06-18 00:48] bvaughn commented on #264
Very helpful response. Thanks, @justingrant!

[2019-06-18 00:58] justingrant commented on #264
Hi @bvaughn - Happy to help.  I ran into the same problem and spent a bunch of time figuring out the answer, so wanted to leave bread crumbs for the next victim.  Out of curiosity, do you know why React's reconciliation re-creates those DOM nodes when there's no memoization on the `Row` function?  Even if each row is re-rendered, if the same content is being output into the DOM, why isn't reconcil

[2019-06-18 01:04] bvaughn commented on #264
Short answer: Inline functions create a _new element type_ each render. React responds to this by unmounting and remounting the entire tree below the new type (just as it would if you rendered a `Bar` component where you had previous rendered a `Foo` component). This is just part of how React works when deciding whether to _create_ or _update_ a node in the tree. (This may be a little easier to th

[2019-06-18 14:16] #257 closed

[2019-06-18 14:29] bvaughn commented on #257
Fix published as 1.8.3 and verified just now

[2019-06-18 20:38] justingrant commented on #264
@bvaughn - Ah, OK that clears up one mystery. React doesn't actually look at the DOM output of a function component-- instead it assumes that if the functions are different (`!==`) then unmounting and remounting is required. Right?

Has the React team considered changing this behavior so that nested function components can participate in DOM reconciliation somehow?  I [searched](https://www.google

[2019-06-19 03:45] NexxLuo commented on #252
This way just solve the hover class problem. If I want to make the row draggable , there is not row element, can`t achieve it. Is there any other way ?

[2019-06-19 11:48] littletower commented on #230
@janhesters could you please share how you managed to use React Window with material-ui's table? that would be awesome! thanks

[2019-06-19 13:41] TrySound commented on #252
Then you should not use grid. Use list component instead.

[2019-06-20 01:24] NexxLuo commented on #252
But I really want to use the grid features , columns  lazy load .

[2019-06-21 01:29] justingrant opened #270 "Off-by-one error in onItemsRendered reports visibleStopIndex that's not visible"
My app uses react-window like a carousel: there's only one item visible at a time, and `size === itemSize`. I was surprised to see that `onItemsRendered` reports that `visibleStopIndex` is always one larger than `visibleStartIndex`, even though that's not what's actually being shown to the user. I traced the issue to this code:

https://github.com/bvaughn/react-window/blob/aa71ef99990eb3e559a0afaf

[2019-06-21 01:33] bvaughn commented on #270
If it's a bug, as you say, then a failing test (with a fix) as a PR would be a welcome next step. I will try to make time to review a PR in the near future.  I will likely otherwise not work on this.

[2019-06-21 05:31] justingrant commented on #270
Cool, I'll do tests & a fix in a PR. Before I start, I have two quick questions about what the expected behavior was for this event:
* Should `visibleStopIndex` be the index of the last visible item, or the index of the first non-visible (overscanned) item immediately after the last visible item? I assumed the former, but after looking at the test snapshots (which use the latter behavior) I wasn't

[2019-06-21 14:22] bvaughn commented on #270
Indexes should be inclusive. So `visibleStartIndex` and `visibleStopIndex` should be the first and last partially visible items.

Yes. Yes.

[2019-06-21 16:58] justingrant commented on #270
Cool. BTW, I'm also assuming that `overscan[Start|Stop]Index` should be inclusive too.

[2019-06-21 17:04] bvaughn commented on #270
Yup, all indices should be inclusive.

[2019-06-21 17:13] justingrant commented on #270
BTW, as I'm editing snapshots I noticed that the [docs](https://react-window.now.sh/#/api/FixedSizeList#props) say that the default `overscanCount` is 1, but the source has the default being 2.  Which is correct?
![image](https://user-images.githubusercontent.com/277214/59939495-fc01b700-940c-11e9-903f-76102c02968a.png)

https://github.com/bvaughn/react-window/blob/aa71ef99990eb3e559a0afafb3a09fa2

[2019-06-21 18:48] Bnaya commented on #55
I've created this project:
https://sticky-eurovision.netlify.com/with-react-window-and-sticky-shlif
To show how it's possible, in a very lightweight way (single instance of react-window + css sticky)
 but that requires small patch to react-window.
![demo2](https://user-images.githubusercontent.com/1304862/59944690-13bd5780-946e-11e9-8f32-3cbe8598e299.gif)

You can read more about the project here:

[2019-06-21 19:12] justingrant commented on #270
Sorry for all the questions!  Here's another two I came up with while adding tests for partially-visible items:

1. When `size` isn't an even multiple of `itemSize`, how should `scrollToItem` behave with option `auto` when you're scrolling **forward** and the desired index isn't already visible?
    * A: Align first visible item with the start of the list container and hang a partial item off the

[2019-06-24 16:20] userbq201 opened #273 "Item size not computed"
How to change itemSize in VariableSizeList ? I want to change elements size (Add custom header to list and etc)

[2019-06-24 16:36] bvaughn commented on #273
What have you tried?

Did you check out [the `VariableSizeList` docs](https://react-window.now.sh/#/api/VariableSizeList)? Specifically look at the `resetAfterIndex` method:

If you show me a Code Sandbox with what you've tried, I'm happy to take a look and point out what you may have overlooked. 😄

[2019-06-24 16:36] #273 closed

[2019-06-24 20:58] justingrant commented on #270
Update: in the PR I'm about to file, I used 1A above (because it looks best) and 2C (because I realized that this is the current behavior for all item sizes-- including even multiples-- so having a different behavior for uneven-multiple item sizes didn't make sense).

For the `FixedSizeList` `overscanCount` default, I updated the docs to match the implementation.

Filing a PR now.

[2019-06-25 12:12] linonetwo commented on #60
I'm trying to use `react-datasheet` with `react-window`, it basically works:

[code]

It renders, the only problem is `Warning: validateDOMNesting(...): <tr> cannot appear as a child of <div>.` `index.js:1437 Warning: validateDOMNesting(...): <div> cannot appear as a child of <tbody>.`

[2019-06-25 12:49] userbq201 opened #276 "How to add padding to row wrapper ?"
[Can you add position relative for inner div ?](https://github.com/bvaughn/react-window/blob/master/src/createListComponent.js#L363)
I cant use padding for list

[2019-06-25 12:49] userbq201 commented on #276
@bvaughn

[2019-06-25 12:57] TrySound commented on #276
You may pass custom component to `innerElementType` with any customisations you need.

[2019-06-25 13:00] userbq201 commented on #276
@TrySound How do it ? Can you make example ?

[2019-06-25 13:11] userbq201 commented on #276
I did it. Thanks

[2019-06-25 13:11] #276 closed

[2019-06-26 01:17] brunolemos commented on #6
Tried to use it but didn't succeed, help wanted. Details here: https://github.com/devhubapp/devhub/pull/152#issuecomment-505678600

[2019-06-27 18:19] jjarrett21 opened #277 "Wrapping a Semantic UI List"
I've got an established List component I've built with semantic and I'd like to wrap it in window but I can't seem to get it sorted? Can Anyone point me in the right direction?

`<AutoSizer>
              {({ height, width }) => (
                <FixedList height={height} width={width} itemCount={count} itemSize={45}>
                  {<List divided>{sourcesList}</List>}
                </FixedL

[2019-06-27 18:27] jjarrett21 commented on #277
Update: ` <List divided>
              <AutoSizer>
                {({ height, width }) => (
                  <FixedList height={height} width={width} itemCount={count} itemSize={45}>
                    {sourcesList}
                  </FixedList>
                )}
              </AutoSizer>
            </List>`

This bit compiles and renders without issue but the list does not show up.

[2019-06-27 18:35] bvaughn commented on #277
I think this is probably more of a Stack Overflow question than a GitHub issue. I'd suggest sharing a runnable Code Sandbox example too, so people can take a look quickly rather than having to recreate your entire setup to try a suggestion. Feel free to link the Stack Overflow question here on this issue and I'll take a look if I get a chance. Going to close this for now though :)

[2019-06-27 18:35] #277 closed

[2019-06-28 01:05] umphy commented on #258
FYI, there is now a CDN providing both ESM and UMD builds of npm packages called Pika. For react-window it's here: [https://www.pika.dev/packages/react-window](https://www.pika.dev/packages/react-window)

[2019-06-29 14:35] NexxLuo commented on #252
Is it possible to provide an options to make the grid cell wrapped a row element ? I think it`s very useful.

[2019-06-29 19:44] brunolemos opened #278 "[DynamicSizeList] Rending items on top of each other if height is the same as estimatedItemSize"
Found a bug on https://github.com/bvaughn/react-window/pull/102, if my items are exactly height `50` (the `estimatedItemSize` value) they will all render on top of each other:

![image](https://user-images.githubusercontent.com/619186/60388786-9193eb00-9a8c-11e9-9db1-f924cae93722.png)

If they have any different height (e.g. `49` or `51`) it works:

![image](https://user-images.githubusercontent.c

[2019-06-30 02:08] telaoumatenyanis commented on #228
Hey @bvaughn.
I gave a look at this issue, here is what seems to happen:

The property `scrollTop` was originally a long and was changed into a double. I know chrome implemented the change, but I don't know if firefox did. I can't get a decimal scroll on firefox 67.

So for `Firefox`, as the value seems to be rounded down, the following check fail:
https://github.com/bvaughn/react-window/blob/c71b

[2019-06-30 16:09] bvaughn commented on #270
Fixes published in 1.8.4

[2019-06-30 16:09] #270 closed

[2019-06-30 16:12] bvaughn commented on #228
Thanks for sharing your findings, @telaoumatenyanis. Seems like some rounding may be necessary then. PRs welcome for this.

[2019-07-01 16:15] bvaughn commented on #278
Ah, interesting edge case. This only holds true if _every_ item is the exact same size as the estimated size. In this case, the list assumes there are no updates to be made. It's not handling the case where content has been rendered for the first time though.

[2019-07-01 16:27] bvaughn commented on #278
Fixed in 13d48ad.

[2019-07-01 16:27] #278 closed

[2019-07-02 09:39] ajaymore commented on #86
Does this work with horizontal VariableSizeList? I tried but my browser freezes.
[code]
It works well with **VariableSizeGrid** but my header lags behind a little on scroll.

[2019-07-02 14:26] ranneyd commented on #86
@ajaymore so re the header lagging: scroll sync struggles when you use the scroll wheel on a Mac. MacOSX has this built-in natural scrolling thing where it interpolates the scrolling to make it "smoother". The refresh rate on this is actually faster than the animation frame rate in Chrome. Thus, the element you're scrolling is going to animate before V8/ScrollSync has time to update  the DOM. This

[2019-07-02 16:01] ajaymore commented on #86
@ranneyd Thank you for such a quick response. I agree it's a limitation. It will work just fine on majority of the devices so not a big concern then.

[2019-07-02 17:02] ranneyd commented on #86
@bvaughn have you ever played around with `position: sticky`? I haven't looked at it in a while and I know the browser support is scant, but I wonder if there's a way to leverage it in browsers where it is supported...

[2019-07-02 17:17] dubvfan87 commented on #6
It looks like something may have broke in the latest version when using AutoSizer with a container height of 100%

[2019-07-02 18:00] bvaughn commented on #6
Too vague to be actionable. Share a repro along with expected behavior?

[2019-07-03 13:22] zebbedi opened #279 "VariableSizeGrid expand last column"
Hi,

I'm using a VariableSizeGrid. When the width of the entire grid is smaller than the viewport of all the columns everything renders as I'd like.

When the width of the entire grid is larger than the widths of all of the columns I'd like the last column to consume all the remaining space. It currently doesn't look very good in our app when this happens.

I've been experimenting with onItemsRend

[2019-07-03 13:27] bvaughn commented on #279
Off the top of my head, my only suggestion would be to share width and columnCount with your item rendered using itemData, then the renderer would have to be smart enough to know if it's the last one (columnIndex === columnCount - 1) and resize itself.

This isn't something the library supports directly though. It would require you to add some logic to your renderer. 😁 Good luck!

Sounds vaguely r

[2019-07-03 13:27] #279 closed

[2019-07-03 16:45] vinnymac opened #280 "Odd problem with height and top"
### Summary
I have a closed source project I am working on, and came across an issue today where I use `react-window` for a giant list of items that gets filtered via an input. When I filter the list I sometimes see problems with the way the list is rendered. Occasionally I will see the wrong height being used for a particular component.

If I force the height to be the height I want it to be (by

[2019-07-03 20:13] bvaughn commented on #280
Checkout the docs:
https://react-window.now.sh/#/api/VariableSizeList

Sounds like you aren't calling that method to let it know that one of your cached sizes have changed.

Sounds like a duplicate of #273, #199, #147, #57

[2019-07-03 20:13] #280 closed

[2019-07-03 20:34] vinnymac commented on #280
@bvaughn thanks for the assistance, I appreciate it greatly. Searching the issues for this problem I didn't end up coming across any of these unfortunately.

It might be advantageous (for your sanity) if we updated the docs to make this case more prominent, perhaps as a caveat of some sort? The docs start off with justifying why the method exists, instead of giving a use case for what a person wou

[2019-07-03 20:35] bvaughn commented on #280
Sure, no problem.

On Wed, Jul 3, 2019, 4:34 PM Vincent Taverna <notifications@github.com>
wrote:

[2019-07-04 18:23] Gajesh-LH commented on #6
I am using DynamicSizeList from 1.6.0-alpha.1 with different filters and some complex card view. But we need to wrap with the hight and width. It is working fine for me.

Thank you Guys

[2019-07-05 22:15] rmisio opened #282 "Question: How to calculate itemSize for a VariableSizeList?"
Forgive me if it's bad form to ask this on GH, but the react-virtualized slack didn't seem so active nor did there seem to be much react-window action on StackOverflow.

Anyhow, I would like to virtualize a potentially long list of chat messages. The thing is the height of the elements could differ dramatically based on the content and also based on the container width which varies depending on wh

[2019-07-06 01:36] ShivamJoker opened #283 "How to use FixedSizeList with animated components like react pose"
Hey I want to use the react window virtualization with [react-pose](https://popmotion.io/pose/learn/install/)
Is there any way I can use it and achieve animation like this https://codesandbox.io/s/w6m757yj6l
The pose elements need li's as direct children and so the FixedSizeList needs
Pose can accept Custom components but it says

Here - [reference](https://popmotion.io/pose/api/posed/#posed-usage

[2019-07-06 01:39] bvaughn commented on #282
What you're describing is not really supported yet. See #6.

[2019-07-06 01:39] #282 closed

[2019-07-06 01:40] bvaughn commented on #283
Don't know. Never heard of that other library.

You might try posting on Stack Overflow.

[2019-07-06 01:40] #283 closed

[2019-07-06 14:22] cshl0ve opened #284 "variable size grid wired behavior"
hi!
While migrating from react-virtualized to react-window, the grid in the react-window did not work as expected. The link below reproduces the strange thing.
[https://codesandbox.io/s/variable-size-grid-wierd-behavior-we1bd?fontsize=14](url)
First, if I use input in the react-window grid cell, and when the state changes, the cell always rerenders and I can not use the input.
Second, if I use aut

[2019-07-06 14:24] bvaughn commented on #284
Try posting on Stack Overflow first.

This doesn't really seem like a bug in react-window, rather something in the way you're using it.

[2019-07-06 14:24] #284 closed

[2019-07-06 22:05] bvaughn commented on #232
v1.8.5 adds a UMD build

[2019-07-06 22:08] bvaughn commented on #283
I realize it's probably best to just move along without commenting, but downvoting a maintainer for not researching another library and solving an integration problem for you (for free) is a pretty unreasonable thing to do, @ShivamJoker.

I have never heard of react-pose. I don't need to use it, so why would you expect me to spend time figuring out the integration?

This is why sites like Stack Ov

[2019-07-06 22:11] bvaughn commented on #284
PS You might also want to check out the reference docs on memoization 😄

https://react-window.now.sh/#/examples/list/memoized-list-items

[2019-07-07 00:56] brunolemos commented on #47
If someone starts investigating this, please also experiment setting `top` or `left` instead of `transform`.

[2019-07-07 03:15] ShivamJoker commented on #283
Okay sorry for down voting I'll ask on stack overflow

[2019-07-07 09:42] graphee-gabriel commented on #6
Hello, I'm trying out `DynamicSizeList`, but all my items are rendered on top of each other. I do pass the style attribute to the rendered item, but if i log `style`, i see that `height` is undefined for each item.
What did I miss here :-) ?

[2019-07-07 12:08] Bessonov commented on #6
@graphee-gabriel you miss a reproduction example.

[2019-07-07 15:00] bvaughn commented on #6
Height is intentionally not specified initially, in order to let the items render with their natural size...

[2019-07-07 15:10] graphee-gabriel commented on #6
Ok I do understand the logic, then this is not the reason the items are rendering on top of each other.
I will provide as much data as I can, I thought that maybe i missed an obvious step that leads to this issue (such as not passing down the style object).

<img width="523" alt="Screen Shot 2019-07-07 at 18 08 53" src="https://user-images.githubusercontent.com/14040669/60770306-4f992380-a0e2-11e9

[2019-07-07 16:44] bvaughn commented on #6
Share a Code Sandbox where I can see this?

I would suggest _not_ using an inline function for your item renderer because it causes unnecessary remounts due to the fact that it changes each time the parent is rendered. (This is why all of the examples avoid inline functions.)

[2019-07-07 17:18] brunolemos commented on #6
@graphee-gabriel I've had this as well, the docs don't mention it but you need to make your row component support receiving a ref:

[code]

[2019-07-08 08:08] graphee-gabriel commented on #6
Hello, here you go:

https://codesandbox.io/s/sweet-sea-irxl8?fontsize=14

Yes indeed for the inline functions, it's a really old code i tried to migrate to react-window, and didn't take the time to improve it here as well.
Thanks for your feedback. Let me know what you find in this sandbox.

[2019-07-08 08:12] graphee-gabriel commented on #6
Annnnnd I should have checked @brunolemos message before doing that sandbox hehe.
This was the missing step, and fixed my issue, thank you!

[2019-07-08 12:16] jancama2 opened #285 "[Question] Passing custom props to an item renderer via List"
Is there any way how to pass custom props to an item renderer from the List? The props are not data like, they are modifications of the item renderer. I would like to avoid some conditional creation of the item renderer.

[2019-07-08 12:54] graphee-gabriel commented on #6
It raised another issue, I updated the sand box so you can reproduce @bvaughn
Find it here: https://codesandbox.io/s/sweet-sea-irxl8

Now the list works fine, but weirdly it seems to grow with the content, and never shrinks again.

Meaning:
1. If I show 6 items, scroll until the end, everything is fine.
2. Change the content to show 20 items, scroll until the end, all good.
3. Change back the cont

[2019-07-08 13:01] edgars-sirokovs commented on #6
I am having the same issue

[2019-07-08 13:09] bvaughn commented on #285
The itemData prop.

I don't know what you mean by "they are not data like". Almost anything can be considered "data", no?

[2019-07-08 13:09] #285 closed

[2019-07-08 13:17] jancama2 commented on #285
I would like to reuse the list component across multiple pages, with different item renderers, but the difference of the item renderers is only in details. Let's say on one page the renderer displays a topic of an article in the list and on the other page it doesn't. So, I was hoping for an ability to set some prop on the list and pass it to the renderer.

Something like:
[code]

[2019-07-08 14:05] bvaughn commented on #285
`itemData` _is_ the way of passing "customProps"

[2019-07-08 14:13] jancama2 commented on #285
Oh, now I get it, I was so used to use itemData as the data source that I've mistaken it with "listData" :)

[2019-07-08 14:43] bvaughn commented on #285
Ah, I see. Maybe the name is less clear than it could be. :smile: You can wrap anything you want up in it, as [this docs example shows](https://react-window.now.sh/#/examples/list/memoized-list-items).

[2019-07-09 05:59] jazkh opened #287 "scroll-linked positioning effect in Firefox"
Firefox 67.0.4 (64-bit)
Windows 10

I am using FixedSizeGrid and I see this warning in firefox.

What should I do to remove this warning? should I ignore it for now?

[2019-07-09 14:03] bvaughn commented on #287
Yes, you can safely ignore it.

[2019-07-09 14:03] #287 closed

[2019-07-10 15:16] silverwind opened #288 "Weird scrollbar behaviour when List has `display: flex`"
See https://codesandbox.io/s/bvaughnreact-window-fixed-size-list-vertical-53j2l

All I changed here was add `style={{ display: "flex", flexDirection: "column" }}` to `List` and if you start scrolling up or down the scrollbar's height seems to behave rather weirdly, it grows and shrinks based on scroll offset.

Scrolling itself appears to work normally, so it's probably something about the calculat

[2019-07-10 15:20] bvaughn commented on #288
You shouldn't set the `display` style of list to anything other than the default (block). It doesn't make sense to do this, given the way list (and grid) work (e.g. absolute positioning of children). Items aren't even added as children of list directly, but rather they are added to an inner div, so this wouldn't have any actual impact on the layout of children anyway. :smile:

[2019-07-10 15:20] #288 closed

[2019-07-10 15:50] silverwind commented on #288
Yeah, it's useless with absolutely positioned children. I just happened to integrate `react-window` into a existing application that happened to set `display: flex` on the container. Took me like 2 hours to figure out what was wrong. 😢

[2019-07-11 12:20] FranziAndFinn commented on #6
This is exactly what I needed.
I have just tested the DynamicSizeList from 1.6.0-alpha.1 in combination with react-virtualized-auto-sizer and react-window-infinite-loader with very good results.
Anything I can help with to make this move forward?

[2019-07-11 16:02] samuelcolburn commented on #230
@janhesters here's an example I made that roughly follows the original material-ui example:

[https://codesandbox.io/s/material-ui-react-window-virtualized-table-example-byv8n](https://codesandbox.io/s/material-ui-react-window-virtualized-table-example-byv8n
)

The actual implementation itself is fairly simple you basically just wrap your table rows in a `<FixedSizeList/>`. The bigger headache is

[2019-07-11 21:44] rawadrifai commented on #219
@kcunanan I am stuck trying to scroll to the bottom when a react native page loads. It has a <Content> component, which I get a ref for using useRef as such.

`const content = useRef(null)`
`<Content ref={content}>`

then I do the following in useEffect:
[code]

It doesn't work. It works if I do `content.current._root.scrollToEnd();` on a button click or something. But I want the page to be scroll

[2019-07-12 01:07] brunolemos opened #289 "[DynamicSizeList] Wrong positions after adding/removing items from the list"
I’m experimenting with the branch #102.

Almost everything works well.

I’m facing a problem when the list items change:

1. Render list with initial items (ok)
2. Remove the second item
3. See some items get positioned wrong

See the blank space between items after filtering out the item that contains the word “progress”:

![Kapture 2019-07-11 at 21 59 27](https://user-images.githubusercontent.co

[2019-07-12 01:10] brunolemos commented on #289
https://github.com/bvaughn/react-window/issues/6

[2019-07-12 08:01] nihgwu commented on #289
did you call `resetAfterIndex` after removed item?

[2019-07-13 01:41] justingrant opened #290 "One flick scrolls forever (to end) on Safari and all iOS browsers with scroll snap enabled"
In Safari and iOS Safari/Chrome (but not desktop Chrome), if [CSS scroll snapping](https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Scroll_Snap) is enabled, then a fast scroll ("flick" on mobile) will scroll to the end or beginning of the react-window list, even if the list is thousands of items long.

The problem is caused by a difference in how Blink (desktop Chrome) vs. WebKit (Safari, iOS)

[2019-07-13 09:33] Bouncue opened #291 "How to pass props to {Row} in <FixedSizeList>{Row}</FixedSizeList>"
When I pass props by this:

`{Row({...props, {otherProps}})}`

it gave me an error something like:

How is the correct way to do that?

[2019-07-13 12:25] Bouncue commented on #291
Solved here: [https://stackoverflow.com/questions/57017935/react-window-how-to-pass-props-to-row-in-fixedsizelistrow-fixedsizelist/57019079#57019079](https://stackoverflow.com/questions/57017935/react-window-how-to-pass-props-to-row-in-fixedsizelistrow-fixedsizelist/57019079#57019079)

[2019-07-13 12:25] #291 closed

[2019-07-13 23:02] graphee-gabriel commented on #289
@nihgwu `resetAfterIndex` does not exist for `DynamicSizeList`
https://react-window-next.now.sh/#/api/DynamicSizeList

[2019-07-13 23:04] graphee-gabriel commented on #6
Hello @bvaughn, did you had time to check the codesandbox from https://github.com/bvaughn/react-window/issues/6#issuecomment-509213284 ?

[2019-07-14 03:17] shoNagai commented on #6
Hi, I'm using DynamicSizeList for my chat app.
Thanks for the awesome feature.

However, I have problems with poor performance and lots of script processing.
When scrolling, CPU always rises and often reaches 100%.
Do you have any ideas for solutions?

[code]

<img width="1438" alt="スクリーンショット 2019-07-14 11 49 54" src="https://user-images.githubusercontent.com/22911189/61178809-ca0cfa80-a630-11e9-9

[2019-07-14 12:30] alonrbar commented on #86
I have the same issue as @ajaymore, that is, syncing two components is laggy (as stated, it does work fine on manual scroll). I'm testing with Chrome on a PC so apparently that's not a Mac only issue... Has someone had success with working around it somehow?

[2019-07-14 17:23] justingrant commented on #290
After a long day of trying to find a workaround, I didn't make much progress. I found that setting `scroll-snap-type: x proximity` instead of `scroll-snap-type: x mandatory` fixes the problem on desktop Safari, but iOS browsers are still broken. (And using `proximity` makes desktop Chrome worse.)  So that's not really a viable fix.

Unless anyone has other suggestions, I think the next step will b

[2019-07-14 19:22] barbalex commented on #86
@alonrbar I have the same problem on a Windows PC.

[2019-07-14 19:43] alonrbar commented on #86
I've actually just working on a workaround and it seems to work.
The general idea is to create a "shadow grid" that hides to original grid and steals his onScroll event and then uses it to manually scroll the original grid as well as any other grid necessary. It slows down performance a bit but keeps all grids nicely synced so you'll have to consider the trade off.

The code looks like this;

[cod

[2019-07-14 20:06] ranneyd commented on #86
@alonrbar this is fascinating! I'll try this out soon.

It looks like the shadow grid lives above the real grid, yes? If so, click events on the "real grid" won't work will they? I suppose you could do something a little hacky with click events + x/y coords and somehow apply that to the main grid.

Also @barbalex re: fails in windows too

It might be a chrome flag actually. See if there's anything

[2019-07-14 20:13] alonrbar commented on #86
Ahhh @ranneyd you're right it blocks click events... Need to do some more thinking on that...

[2019-07-14 22:05] barbalex commented on #86
I think the Threaded scrolling feature in chrome://flags has a big influence: turning it off makes scrolling with the mouse wheel about as smooth as scrolling with the scrollbar for me.

<img width="369" alt="2019-07-15_00h03_42" src="https://user-images.githubusercontent.com/669783/61189898-3ec55080-a694-11e9-9830-2da22c0cb2f4.png">

[2019-07-15 00:06] tootiny commented on #289
@brunolemos by any chance are your list items class components that override shouldComponentUpdate?

[2019-07-15 01:23] brunolemos commented on #289
nope

[2019-07-15 02:19] ranneyd commented on #86
@alonrbar what about this:

Add a scroll handler to the main grid. In it you do `e.preventDefault();` or something to prevent the actual scrolling. Then you look at the event to figure out how much it WOULD HAVE scrolled, which this does to move the other synced stuff, but then you use that to manually scroll that same element. So instead of scrolling A, then using that info to scroll B, you inter

[2019-07-15 08:19] alonrbar commented on #86
@barbalex you're right, it works for me too but I can't have all my users turning chrome flags on and off   😔

@ranneyd I've just looked into it and fiddled a bit with the source code but apparently [you can not disable scroll events](https://stackoverflow.com/questions/4770025/how-to-disable-scrolling-temporarily) the only thing you can do is to hijack all mouse wheel, touch and keyboard events t

[2019-07-15 10:26] barbalex commented on #86
@alonrbar yeah, asking users to do this will not work. You _can_ give them a direkt link if you _do_ want to try: [chrome://flags/#disable-threaded-scrolling](chrome://flags/#disable-threaded-scrolling)

[2019-07-15 18:17] ranneyd commented on #86
@alonrbar eh this is not good but it's not TERRIBLE if we're just applying it to the grid we'll already hacking together.

It's just scroll wheel right? Do arrow keys make it happen also?

[2019-07-16 09:10] alonrbar commented on #86
This is a snippet from the accepted answer here: [https://stackoverflow.com/questions/4770025/how-to-disable-scrolling-temporarily](https://stackoverflow.com/questions/4770025/how-to-disable-scrolling-temporarily)

[code]

As you can see there are several events you need to handle and consider possible consequences of doing so.

For the moment, as I can not invest more time in trying to solve this

[2019-07-16 21:27] ranneyd commented on #86
@alonrbar yeah I agree that SO solution is pretty crummy.

I find your solution, however, very interesting. I'm going to see if I can take my own crack at it and make it work with the virtualized table.

[2019-07-17 07:30] ShivamJoker opened #292 "How can I render multiple components"
Please provide an example of utilizing the map function and how can we render dynamis contents fetched from an API or anywhere

This is my code i want to implement react window
[code]

[2019-07-17 12:27] #292 closed

[2019-07-17 12:29] bvaughn commented on #292
That is not how react-window works.

Fork one of the many examples from the documentation and show me what you've tried first. I will take a look and offer suggestions, but it doesn't look like you've even read the docs based on this example you provided
L.

[2019-07-17 12:37] ShivamJoker commented on #292
I have seen all the examples and read it
And i tried putting multiple divs in the return props it doesnt work so
I think the ideal solution would be to get the total length of the array and utilize the index value to fetch data from all of them right ?

[2019-07-17 15:07] bvaughn commented on #292
This bit of your snippet made me think you hadn't read the docs:
[code]
Since `List` requires several props, all missing.

Start by forking this example:
https://codesandbox.io/s/github/bvaughn/react-window/tree/master/website/sandboxes/fixed-size-list-vertical

What would you do if you didn't know the `itemCount` value? You would probably use `songs.length` right?

But you don't want to recreate

[2019-07-17 20:38] InfSpell opened #293 "animate Row entry/exit"
Hello, thanks for the great library.
 Is it possible to animate the entry/exit of elements into the DOM?

[2019-07-17 21:32] ranneyd commented on #86
@alonrbar so I made a non-virtualized implementation that actually uses absolute positioning. The only thing that scrolls is the outer container. On scroll it updates top/left values which are used to absolute-position the inner elements. So no `scrollTo` or `scrollTop = ...`, which I found was causing me a lot of grief. On top of that, the scroll bars are ALWAYS on the outside of the ENTIRE grid.

[2019-07-17 21:48] bvaughn commented on #293
You're welcome :)

It might be but I don't have any advice or examples for how to do it. I'd suggest asking on Stack Overflow or similar.

[2019-07-17 21:48] #293 closed

[2019-07-18 08:07] alonrbar commented on #86
@ranneyd very cool implementation!

I like the dynamic grid composition :)

But most importantly the idea of using absolute positioning instead of scrolling may be the key to solving this issue. By introducing another div **you've disconnected the `onscroll` event from the actual content scrolling** which I think opens new possibilities.

If you could hook into `react-window`'s [`render` method](h

[2019-07-18 11:14] faizaankhan opened #294 "Vertical Scroll for a long width row FixedSizeList"
Hello,
I am using FixedSizeList for rendering very large data, thanks to react-window that everything has been a smooth process with smoother output.

For a couple of days, I am trying to add a vertical scroll bar using react-custom-scrollbars, and I could easily integrate it and make it usable. BUT the issue for which I have spent a couple of days and finally I am here is putting the Vertical Scr

[2019-07-18 13:14] bvaughn commented on #294
This type of question is probably best asked on Stack Overflow (or somewhere similar).

I don't use custom scroll bars myself. Never had a requirement to. I don't know how you'd accomplish what you're asking, or I'd offer suggestions.

Since I don't know though, and I don't plan on spending time to research it (sorry pretty busy these days) I'm going to close this. Hope you understand.

[2019-07-18 13:14] #294 closed

[2019-07-19 01:31] ranneyd commented on #86
@alonrbar so I actually re-implemented the virtualization algorithm. It isn't as good but looking at the source code when this Grid gets to the actual virtualization it's basically the same alg. However, the performance is actually decent. I can get to a 200x200 grid without any lag, and 500x500 with only a little bit. If my boss let's me work on this any more I'll try to do the render method impl

[2019-07-19 05:36] Secretmapper opened #296 "[Documentation request] List features not in react-window"
Hello! Great library! I also really like the insight with the difference between react-window/virtualized.

However, it doesn't really list the features that are not in react-window, which leads me to a pretty hard decision of not knowing if react-window will be enough for my use cases.

I think if it listed out a couple of features not present in react-window (but present in virtualized) it would

[2019-07-19 14:39] bvaughn commented on #296
I appreciate the feedback!

If I find time and feel like doing some more docs writing, I may take a pass at it. Going to close this issue though because I don't see it as something that _must_ get done, just a nice to have.

[2019-07-19 14:39] #296 closed

[2019-07-19 20:58] alonrbar commented on #86
@ranneyd yes I would like to see the virtualization solution you've made. Don't know if I'll use it but it would certainly be interesting :)

Also, I was trying to use your code today to implement the changes to the render method as I suggested but after re-reading your code I noticed that you haven't actually disconnected the scrolling the way I thought you have. What I mean by  that is that the

[2019-07-21 02:12] bvaughn commented on #86
This discussion got me curious, so I setup a project to compare two scroll-synced react-window `Grid`s with a react-virtualized `MultiGrid`, so that I can get a sense of how perf compares:
https://github.com/bvaughn/react-window-vs-react-virtualized-synced-grids

I tried to make each usage as similar as possible. Some initial observations:
* react-window looks noticeably slower in DEV mode but fee

[2019-07-21 03:50] ranneyd commented on #86
@bvaughn I tried making the most basic, vanilla scroll effect code, with divA -> onScroll -> setState -> ref.scrollTop and it still couldn't get around this chrome threaded-scrolling thing. I admittedly didn't circumvent react state and set ref.scrollTop within the onScroll handler, but other than that I can't think of a more basic way to do it. If you can't get onScroll -> scrollTop fast enough i

[2019-07-21 05:07] bvaughn commented on #86
The goal is always for JavaScript to be as fast as possible so that it keeps up with the thread managing scrolling.

Just to be clear, this isn't what my repo is doing either. I'm just setting the scroll offset in the passive grid in the same (React-wrapped) event handler as the active grid, so React batches their updates into a single render+commit. This probably doesn't make _much_ of a differen

[2019-07-21 19:22] alonrbar commented on #86
@ranneyd  and @bvaughn sharing with you my observations so far:

0. Many implementations works well enough on desktop browser, but my primary use case is actually on mobile devices and there I see tremendous performance differences.

1. Synchronizing two simple non-virtual grids works pretty well (not 100% perfect but close enough, even on mobile).  [This is my naive, yet working, implementation](

[2019-07-22 09:26] SaiKDot opened #297 "Getting invalid type error"
[code]
Seems like a simple implementation.

[2019-07-22 10:22] acobol opened #298 "List not rendering after scrollTo"
I have maybe a too specific use case. I'll try to explain, i have a list that its constantly updated, initially it have autoscroll enabled, so after the render i scrollToItem to last item, if user scroll up it disable autoscroll, but table it's still updated, so after the number of items change i scrollTo to scrollTop value that i store after user scroll. If i do that, table its not re rendered be

[2019-07-22 14:29] bvaughn commented on #297
You probably meant to type:
[code]
rather than
[code]

[2019-07-22 14:29] #297 closed

[2019-07-22 14:31] bvaughn commented on #298
This probably needs a repro case for me to understand what you're trying and what you're asking. Share a Code Sandbox or something that I can see and run and I'll take a look :smile: (and re-open the issue)

[2019-07-22 14:31] #298 closed

[2019-07-22 14:39] ranneyd commented on #86
@alonrbar my solution, which does absolute positioning, so none of the grids are the ones doing the scrolling, works very well up until about 300x300 where it gets a tad sluggish. At larger sizes I think it is just processing/mapping over a big array. I think there are several optimizations
I can do, though, and I'm not entirely convinced it has anything to do with the scroll sync so much as my fa

[2019-07-22 14:44] bvaughn commented on #86
I didn't say that :smile: I just said it avoids an extra unnecessary render and DOM mutation. How much of an impact that has on actual performance is unclear to me. It does seem like an overall positive change though, regardless.

[2019-07-22 22:42] ranneyd commented on #86
@alonrbar @bvaughn I need to actually document my code, but here's the latest version:

https://github.com/ranneyd/synced-table

[2019-07-23 02:45] Jessidhia opened #299 "SyntaxError on published index.esm.js in react-window@1.8.5"
It seems that, in two of the `flushSync` invocations, either an error in the (not yet pushed to github?) source code, or in some postprocessing, the closing parens for the `flushSync` call is placed on the wrong closing bracket.

The code effectively reads as `flushSync(() => { /* ... */ } })` (note the extra `}`), which is a syntax error. This can be fixed locally by removing the `)` on line 1171

[2019-07-23 03:03] bvaughn commented on #299
What is this referring to? `flushSync` isn't referenced anywhere in the published `react-window`.

[2019-07-23 04:08] tky5622 commented on #6
Hi, thank you for developing the great useful virtual list library !

I found the issue that autoSizer doesn't correctly work when I use  mapped Object as ListItem.
When I use it , DynamicSizeList ignore a mapped Object's height and Overlap each Items.

if It is unreported issue,  I'd like to provide sandbox example.
thank you.

[2019-07-23 04:11] Jessidhia commented on #299
Yeah, that's the thing I found the strangest. The error comes from the `react-window` that is installed by https://github.com/bvaughn/react-devtools-experimental/ so I suppose the bug is there, not here, as you have a vendored fork in there.

[2019-07-23 07:59] YoavHortman opened #300 "List flickers only when scrolling with laptops mouse pad"
List flickers when scrolling on laptop with the mouse pad, easy to see [here](https://react-window.now.sh/#/examples/list/fixed-size), just scroll on the top list with a mouse pad, any way to fix that?

[2019-07-23 09:26] mjseyyedi opened #301 "unexpected behavior on iOS safari in RTL direction"
Hello.
I am using your great library to show my horizontal lists in RTL mode. it's about OK in android and chrome , just a little buggy. but it's totally weird in safari.
You can see the behavior below:

![ezgif-1-39c63d0edf24](https://user-images.githubusercontent.com/15613272/61700174-8497ae00-ad51-11e9-9e83-da88177bac08.gif)

`<InfiniteLoader
                    isItemLoaded={index => {

[2019-07-23 14:12] bvaughn commented on #300
Sorry for the canned answer, but I've talked about this a lot in the past and I don't have the energy to write a long response again. :smile: Hope you'll understand.

Check out this slide for an overview of how libraries like this generally work:
https://bvaughn.github.io/forward-js-2017/#/12/5

Check out these slides for why it "flickers":
https://bvaughn.github.io/forward-js-2017/#/23/2
https://

[2019-07-23 14:12] #300 closed

[2019-07-23 14:15] bvaughn commented on #301
I would be willing to review PRs that improve the RTL support for Safari, but I probably won't be working on it myself. I'm not an iOS user and I don't have a use case for RTL in react-window, so I won't be able to make time for it. If you'd be interested in contributing, this would be a good opportunity.

As for the code snippet- a big blob of unformatted code doesn't really count as a repro case

[2019-07-23 14:19] bvaughn commented on #299
Hm. Sounds like the merge went poorly.

I'm going to close this issue.

[2019-07-23 14:19] #299 closed

[2019-07-23 18:07] stunaz commented on #232
@bvaughn thanks a lot :-)

[2019-07-23 19:34] ranneyd commented on #86
@alonrbar @bvaughn so here's a fun thing I just discovered:

My solution does NOT work in Chrome 75 on a macbook screen. When my coworkers hadn't updates chrome, it worked. If they use an external monitor it works. On their laptop screen it lags.

[2019-07-24 00:38] bvaughn commented on #86
Hmm...there are some differences with external monitors, with refresh rate or scaling. When you say it "doesn't work" what do you mean, specifically?

[2019-07-24 01:26] ranneyd commented on #86
My bad. I mean the scrolling is no longer synchronized. If you clone my repo and run it, you can compare external monitor vs laptop screen. On the monitor they are perfectly in sync. On the laptop screen the headers flicker (don't update as the same speed as the scrolling element).

I've actually given up and I'm trying it with `position: sticky`. It's actually working. Browser support isn't 100%,

[2019-07-24 07:54] ealexseen commented on #289
@brunolemos
I think need install polyfill ResizeObserver

[2019-07-24 14:15] mjseyyedi commented on #301
it's totally OK in LTR version.

[2019-07-24 17:48] brunolemos commented on #289
I use the polyfill already

[2019-07-24 23:42] ranneyd commented on #86
@alonrbar @bvaughn here is the latest version. It uses `position: sticky`. I explain it a little in the readme. The code still needs to be documented.

https://github.com/ranneyd/sticky-table

[2019-07-25 14:06] joshfarrant commented on #247
@bvaughn Would you be open to a PR that adds reverse direction support, possibly behind a `reversed={true || false}` prop?

[2019-07-25 14:09] bvaughn commented on #247
@joshfarrant Feel free to create a PR. I'll be happy to review it, but I won't make any promises about it landing.

I would say that I think `layout="vertical-reverse"` (or something similar) would maybe make more sense. We already have `direction` and `layout` props. I don't want to be in a place where someone could set `layout="horizontal" direction="rtl" reverse={true}` because I don't even kno

[2019-07-25 14:14] joshfarrant commented on #247
Thanks for the quick response. Agree that `layout="vertical-reverse"` makes more sense. I'll have a look into it and let you know if I make any progress.

[2019-07-25 21:16] bvaughn commented on #86
😩

@ranneyd It occurred to me today that this might be related to frame rate. The frame rate for an external monitor might be e.g. 30 fps, in which case I think the browser might dispatch fewer "scroll" events (since I think most browsers only dispatch one per frame/paint). Maybe this is why the lag is more noticeable for you on an external monitor?

[2019-07-25 22:18] ranneyd commented on #86
@bvaughn I think that has to be it. The OS SAYS it's sending 60hz and I THINK the specs of the monitor say 60hz, but it wouldn't surprise me if someone is lying 😂

[2019-07-29 08:06] alex-worker commented on #6
Hello @bvaughn, nice work!
What is correct way to recalculate item heights on resizing workplace ? With help of comments above i'm make some demo https://codesandbox.io/s/angry-hill-tcy2m
When width of workplace changing by mouse, I need recalculating all item height ( and may be clearing internal height cache of VariableSizeList component ) ...

[2019-07-29 17:56] bvaughn opened #302 "Version 2 changes"
This is an umbrella issue to share my plans for the upcoming version 2.0 release of `react-window`.

**Feedback is appreciated** and will be taken into consideration. I ask that you be understanding if I'm not able to accommodate all requests. I'll try to do my best to weigh feature requests against bundle size, runtime performance, and maintenance concerns.

I expect that upgrading from version 1

[2019-07-29 18:16] bvaughn commented on #301
@mjseyyedi

Do you see similar issues on the demo page?
https://react-window.now.sh/#/examples/list/fixed-size-rtl

[2019-07-29 18:52] shayc commented on #301
@bvaughn I couldn't reproduce on iPhone XS iOS 12.4 with this link:
https://react-window.now.sh/#/examples/list/fixed-size-rtl

![ezgif-3-b7bae700dd17](https://user-images.githubusercontent.com/6969966/62074306-23894200-b24b-11e9-86d2-ffb0f0aa0862.gif)

[2019-07-29 19:05] istarkov commented on #302
Horizontal lists are widely used on mobile in our case. We are use them for infinite scrollable carousel like control too. IMO must have thing on mobile.

[2019-07-29 19:06] ahmedelgabri commented on #301
Same here, can't reproduce on Safari iOS 12.4 on iPhone 6. The demo works fine.

[2019-07-29 19:44] bvaughn commented on #301
Seems like there's something about the application code then. It's hard to do more with this, given that we can't see the code or the even the app that's showing this problem. cc @@mjseyyedi

[2019-07-29 19:44] bvaughn commented on #301
Thanks folks for the added info!

Seems like there's something about the application code then. It's hard to do more with this, given that we can't see the code or the even the app that's showing this problem. cc @mjseyyedi

[2019-07-29 19:48] bvaughn commented on #302
Thanks for sharing a use case @istarkov. It's not that I don't think there are _any_ valid use cases for horizontal windowing. I just think they are far less common. (Even in the case of carousels, many use left/right arrow navigation that doesn't require "scroll" event based windowing.) I think it might still be the better route (for me) to drop support for v2 to help offset some of the complexit

[2019-07-29 20:21] chrisnojima commented on #302
I'm really excited for this leaner approach that will hopefully lead to simpler, more performant, and simpler code.

[2019-07-29 21:10] zmitry commented on #302
Great. But I have few concerns about dropping variable size list. You are planning to replace variable size list with DynamicList but the issue with dynamic list that you can't scroll to item, which might be pretty useful feature for some components and such requirement could came up over time, so you can't predict if react-window fits your needs.
The second issue I see is dynamic list performance

[2019-07-29 22:15] bvaughn commented on #302
I don't think this is an inherent limitation, just one of the current implementation. I have ideas for how I could offer that function. Whether I find time to tackle it is another question :smile:

Hard to say if it will perform as well. Seems like dynamic list will have to do more work so it's probable that it won't perform quite as well. Maybe the difference will be significant, maybe not. I wan

[2019-07-29 22:24] babangsund commented on #302
@bvaughn This looks like documentation to me!
Have you been working on this since last summer? ;-)

[2019-07-29 22:35] bvaughn commented on #302
No, I wrote this this morning 😝 I'm exhausted.

Can you elaborate why you're not a fan?

[2019-07-30 02:27] snesjhon commented on #302
Could  horizontal list/grid support make sense as an opt in feature like `AutoSizer` (react-virtualized-auto-sizer) ?

I've used both react-virtualized and react-window for horizontal lists, and find the react-window API a lot simpler. Though I def understand the need for the deprecation in hopes for a simpler API.

[2019-07-30 03:41] bvaughn commented on #302
Grid support is still planned. Opt in horizontal support, no not really. I
don't think that would make sense.

On Mon, Jul 29, 2019, 7:27 PM Jhon Paredes <notifications@github.com> wrote:

[2019-07-30 08:34] babangsund commented on #302
@bvaughn I generally enjoy render props, but I I think they encourage an inline function which may or may not contain a bunch of nested logic. 🤔 Any fault here falls on the user though. 🙂

[2019-07-30 13:50] nikitapilgrim commented on #302
can you realize masonry grid?

[2019-07-30 17:47] bvaughn commented on #302
@nikitapilgrim No. I would suggest just using the `Masonry` component from `react-virtualized`

https://github.com/bvaughn/react-virtualized/blob/master/docs/Masonry.md

[2019-07-31 06:31] alonrbar commented on #86
@ranneyd I'm sorry to say that I'm not very available right now so I couldn't take a proper look at your solution but from a short glance I took I noticed it looks pretty neat and that you've create a `useVirtual` hook and separated elegantly the logic from rendering.
I think it would be great if you could somehow create a pull request for `react-window`, use it there and maybe expose a `renderTab

[2019-07-31 08:07] nikitapilgrim commented on #302
thanks, but its work only with react-virtualized?

[2019-07-31 08:52] babangsund commented on #302
@nikitapilgrim Yup. 👍
React-virtualized supports a bunch of features, that react-window does not.

The scope of react-window is drastically reduced, to focus on making the package **smaller** and **faster**. 😉

If you need features from react-virtualized, I suggest you stick with that - it's still a great a library!

[2019-08-05 03:11] GeorgeZhangZHY opened #303 "Better Documentation ？"
It seems that many props hasn't been documented. For example, which props should I use if I want to call certain callback when a new item enters(leaves) from bottom(top).

[2019-08-05 04:15] bvaughn commented on #303
There is no such prop.

To my knowledge, the props are all documented on the docs site:
https://react-window.now.sh/#/api/FixedSizeList

If you find a specific one missing, shoot me a PR or an issue. 😄

[2019-08-05 04:15] #303 closed

[2019-08-05 08:25] ThaddeusJiang opened #304 "Sticky demo doesn’t work"
I am seeing the demo https://codesandbox.io/s/0mk3qwpl4l in readme, but if I change `stickyIndices` from [0,1] to [10. 11], the demo won’t work.

[2019-08-05 15:30] bvaughn commented on #304
In this demo the sticky columns are only meant to be the first few (aka top/left aligned). Not really sure what you would expect from a value of [10,11] but that's now how the demo is setup.

[2019-08-05 15:30] #304 closed

[2019-08-07 15:04] coryhouse opened #305 "Question: How should we handle native browser find?"
If someone hits ctrl+f / cmd+f, it will only return results for visible records. Anyone have a suggestion on how to handle this? For now [I'm displaying a warning to the user when they hit ctrl+f/cmd+f](https://stackoverflow.com/questions/3902635/how-does-one-capture-a-macs-command-key-via-javascript): "Note that only visible records will be searched with the native browser find. Use the search bo

[2019-08-07 16:11] TrySound commented on #305
In all projects are worked on we built custom filters or search fields near infinite lists.

[2019-08-07 16:20] bvaughn commented on #305
For now, you could override CMD+F and implement custom search using a library like [`js-worker-search`](https://github.com/bvaughn/js-worker-search). (I've done this before for apps built with `react-virtualized`). It won't handle the case where people choose "find in page" from the browser toolbar though.

Google is working on a proposal for this though- (find in page for virtual scrollers). Ther

[2019-08-07 16:20] #305 closed

[2019-08-07 16:25] coryhouse commented on #305
Excellent, thanks for the thoughtful and quick response @bvaughn! And thanks for all your hard work on this. React-window blew people's mind here in the office. Our customers love it. 👍

[2019-08-07 16:41] bvaughn commented on #305
That's nice to hear. Thank you!

[2019-08-08 13:00] Flyover-ArtSk opened #306 "Wrong behaviour on scroll item to center"
Wrong behaviour on scroll item to center

Example:
https://codesandbox.io/embed/bvaughnreact-window-scrolling-to-a-list-item-q4jli

Click on "Scroll to row 2" or "Scroll to row 3" - items not in center.
Click on "Scroll to row 5" - item in center

[2019-08-09 14:32] slashwhatever opened #307 "React version requirements"
Is this library compatible with React 15.x?

[2019-08-09 15:25] bvaughn commented on #307
Version 1 is:
https://github.com/bvaughn/react-window/blob/3daa8a87acb709e37173269026a815a4c73d9e0f/package.json#L66-L69

The upcoming version 2 likely will not be.

[2019-08-09 15:25] #307 closed

[2019-08-09 20:31] bustEXZ commented on #289
Hi there. Same problem, can i drop cache of items? Maybe add `resetAfterIndex` to DynamicSizeList?
Thanks
ps. i'm using ResizeObserver polyfill too

[2019-08-12 01:47] gpbl commented on #290
I was trying a similar configuration as @justingrant and run into the same problem. Too bad because react-window with scroll-snap would be great – but it is to buggy on Safari.

It doesn't seem that easy to create a polyfill either...

[2019-08-13 15:33] DDinenno opened #308 "Re-creating the entire body/row nodes on data change"
I'm having an issue caused by this component **re-creating** the entire body when the data changes even though the scroll position is the same. I would think given this condition, React's reconciliation algorithm would skip over the `FixedSizeList Body/rows` and just append the innerHtml of the cell with the new value (This would be the ideal for my useCase, but maybe not for everyones).  If I gen

[2019-08-13 15:37] bvaughn commented on #308
Share your cod and I'll take a look. Issues like this that don't include any example code can't be acted on though, so I'm going to close it for now.

[2019-08-13 15:37] #308 closed

[2019-08-13 17:34] DDinenno commented on #308
Sure thing, here's a sandbox [https://codesandbox.io/s/react-window-example-uhits](url)

I think it's pretty simple to follow ,  Lemme know if you need any more context.

Thanks for legendary response time btw 👍

[2019-08-13 17:54] wallzero commented on #302
I stumbled upon `react-window` because I was looking for a solution to [this `react-virtualized` `babel 7` issue](https://github.com/bvaughn/react-virtualized/issues/1373). I am using the `react-virtualized` `Masonry` components but can't anymore after upgrading `babel`.

[2019-08-13 17:55] bvaughn commented on #302
This isn't the place to report issues with react-virtualized.

[2019-08-13 17:59] bvaughn commented on #308
Console warnings seem important:
![Screen Shot 2019-08-13 at 10 56 57 AM](https://user-images.githubusercontent.com/29597/62965064-17f45a00-bdb9-11e9-8156-97044f09e4fc.png)

Inline render function is probably the cause of the unexpected (deep) re-renders:
![Screen Shot 2019-08-13 at 10 57 37 AM](https://user-images.githubusercontent.com/29597/62965105-35c1bf00-bdb9-11e9-91d2-9e4cc90136ff.png)

Inl

[2019-08-13 18:20] wallzero commented on #302
Agreed @bvaughn. However yourself and @babangsund replied to @nikitapilgrim above that a `Masonry` component won't be introduced in `react-window` and instead to use `react-virtualized`. However, if a user is on the latest `babel@7.x` and `core-js@3.x` (such as with `create-react-app`), `react-virtualized` won't necessarily work.

I figure that is useful info for anyone else going down the same ra

[2019-08-13 20:18] DDinenno commented on #308
Yep that did it.

I actually was memoizing the rows in my actual implementation, but I guess improperly since I was using Inline functions and not using the itemData( I didn't think it was necessary at the time).

Great history lesson on inline-functions.  I'm gonna stay away from those as much as possible.

Thanks a bunch! you don't know how much this helped me out and sorry for wasting your time

[2019-08-13 22:01] bvaughn commented on #308
Glad you got it sorted out :)

[2019-08-14 19:39] sean-browze opened #309 "Append components to a fixed list?"
I have a fixed list and grid using infinite loader and auto sizer. It's working fine but I'm looking to append a component before the list/grid starts (for example, a search box and a button). What's the correct approach to accomplish this? I want this component to scroll with the list and not scroll separately. I've tired just rendering the component before <InfiniteLoader> but then it's not in t

[2019-08-14 20:09] bvaughn commented on #309
Sounds like you're essentially asking about a sticky row. Check out the readme and the Code Sandbox it links to:
https://github.com/bvaughn/react-window#does-this-library-support-sticky-items

If this isn't what you're asking about, you might try posting on Stack Overflow. I don't have the bandwidth at the moment to dig too deep on special use case examples like this unfortunately 😦 I'm sorry.

[2019-08-14 20:09] #309 closed

[2019-08-15 06:22] piotrblasiak opened #310 "Grid with sticky header possible?"
Is it possible to somehow create a sticky header using Grid? If not easily using current API, is there any workaround? I can create a header above the grid, but then it doesn´t follow the horizontal scroll of the grid and the other way around.

[2019-08-15 14:14] bvaughn commented on #310
It's not supported, nor something I've needed to figure out. Sorry but I don't have any recommendation here.

[2019-08-15 14:14] #310 closed

[2019-08-17 20:30] ShivamJoker commented on #302
hey i want to use dynamic size list where can i download version 2 or i will have to use react virtualise ?
![image](https://user-images.githubusercontent.com/23727670/63216990-dfa79f80-c15b-11e9-833c-068cfef6cf5a.png)
this is how my list is looking with variable size list

[2019-08-17 20:32] bvaughn commented on #302
This is not a generic support issue. Please keep comments on topic.

[2019-08-17 20:36] ShivamJoker opened #311 "When is version 2 releasing ? I want to use dynamic size list"
hey i want to use dynamic size list where can i download version 2 or i will have to use react virtualise ?
![image](https://user-images.githubusercontent.com/23727670/63217001-082f9980-c15c-11e9-9c64-c72e8ba39d84.png)

this is how my list is looking with variable size list

[2019-08-17 22:38] ShivamJoker commented on #6
is there any solution now for dynamic list i just spent 4 hours trying to get it working huh
after reading all the comments i am done 😠
If you guys have any working solution please provide me

[2019-08-18 00:05] #311 closed

[2019-08-18 00:05] bvaughn commented on #311
This is a project I work on in my spare time, as I have time. I don't have a release date.

[2019-08-18 00:06] bvaughn commented on #6
There is no "you guys" on this project. It's maintained by a single person.

And it's kind of inconsiderate to leave comments on multiple issues in the same day complaining about the same thing. By all means, please just use react-virtualized.

[2019-08-18 07:34] ShivamJoker commented on #6
I am really sorry for leaving comment like this brian. I found this issue later and then read all the comments and I thought others are helping you atleast

[2019-08-18 08:10] graphee-gabriel commented on #6
@ShivamJoker I nearly got it to work, the only thing left for it to be perfectly working is the total height that keeps growing but never shrinks if there are less items after changing the content. If this gets solved, in my use case it would seem to work perfectly.

@bvaughn would you have time to check the example in the sandbox from https://github.com/bvaughn/react-window/issues/6#issuecomment-

[2019-08-19 08:05] simeonoff commented on #6
Yeah, basically the inner container should reset it's height upon data filtering/change.

[2019-08-20 08:29] ChristopherHButler commented on #110
I am using your implementation but I get an error saying forwardedRef is not a function.

The problem in my app that I am trying to solve is that I have a large list of items and when I click on one, the app will redirect to another route so I need to keep track of the scroll position (probably in redux) and then set the scroll position after the route change.

[2019-08-20 19:35] ranihorev commented on #110
@piecyk have you tried combining it with the InfiniteLoader from `react-window-infinite-loader`.
I'm using `react-scrollbars-custom` and it seems to break the infinite loader :(

[2019-08-21 05:45] ChristopherHButler commented on #110
@ranihorev do you need to use that package? The code pen @piecyk shared above uses react-custom-scrollbars and works well (except when creating a ref, which for some reason is null in my code)

[2019-08-21 06:16] ChristopherHButler commented on #110
Ok I need to ask again. @piecyk I am using your code sample from above (where you replied to @simjes ). instead of using a fixed sized list though, I am using the auto sizer to wrap a VariableSizeList and specify the outerElementType. Something like this:
`      <TreeRoot
        onDragOver={e => this.onDragOver(e)}

        <AutoSizer>
          {({ height, width }) => (
            <List

[2019-08-21 06:45] ranihorev commented on #110
@ChristopherHButler I'm already using that package multiple times in my code, so I'd rather keep using the same package. I solution is pretty similar however it doesn't fetch new data ptoperly

[2019-08-21 08:08] ShivamJoker commented on #6
thanks i have implemented the same hoping it to work fine for other users also

[2019-08-21 09:46] ShivamJoker commented on #6
@graphee-gabriel but I am having also one more issue my app bar used to hide on scroll down which is not happening now what can be the solution ?
![image](https://user-images.githubusercontent.com/23727670/63421655-99d22c00-c426-11e9-9780-b99cb244307f.png)

[2019-08-21 15:00] piecyk commented on #110
@ChristopherHButler really hard to say without any Code Sandbox example of the issue, can you share something?
Basic the idea here is to set the ref from react-custom-scrollbars so the react-window

AutoSizer or VariableSizeList will work with this approach, as in this example
https://codesandbox.io/s/react-window-custom-scrollbars-t4352

[2019-08-21 15:01] piecyk commented on #110
@ranihorev can you also share Code Sandbox example?

[2019-08-21 22:21] ranihorev commented on #110
@piecyk I create a simple (and broken) example:
https://codesandbox.io/s/bvaughnreact-window-fixed-size-list-vertical-64kzh?fontsize=14

I also tried other variations (e.g. setting the ref to be the scroller wrapper) but no success...

Thanks!

[2019-08-22 08:50] piecyk commented on #110
@ranihorev this approach would be the same regardless of custom scroll implementation. They need to set reference to the same element that is responsible for scroll and handle that scroll event.

`react-scrollbars-custom` provides nicer api using render props pattern so you can do something like https://codesandbox.io/s/bvaughnreact-window-react-scrollbars-custom-pjyxs

Didn't do any profiling, ho

[2019-08-22 09:22] fonty422 commented on #92
I know this is closed for now, but what about an animated expanding div. Not just something with 2 hard coded values. I have a need to use the `material-ui` `ExpansionPanel`, but implementing this leaves me with a panel that expands but doesn't displace the rest of the list.

[2019-08-22 11:59] ChristopherHButler commented on #110
@piecyk I am working with your demo here: [https://codesandbox.io/s/4zjwwq98j4](https://codesandbox.io/s/4zjwwq98j4). I want to use the onScrollStop to dispatch an action in redux so I can set the scroll position (an idea from this thread: [https://github.com/malte-wessel/react-custom-scrollbars/issues/146](https://github.com/malte-wessel/react-custom-scrollbars/issues/146) but onScrollStart and o

[2019-08-22 12:27] piecyk commented on #110
@ChristopherHButler I think your best option is to use context to pass the props, something like

https://codesandbox.io/s/bvaughnreact-window-fixed-size-list-vertical-v2-usi1m

[2019-08-22 14:37] ranihorev commented on #110
@piecyk that's awesome, thanks!
btw, it seems that all you need is the `onScroll` function (that I missed) and there is no need to forward a ref at all.
https://codesandbox.io/s/bvaughnreact-window-react-scrollbars-custom-99dn1

[2019-08-22 17:21] ChristopherHButler commented on #110
@piecyk sorry I should have mentioned my implementation of the VariableSizeList is wrapped in an AutoSizer and the component which renders it is a class based component so I'm not sure I can use context. Maybe this is why I cannot get onScrollStop to work?

[2019-08-22 18:12] ChristopherHButler commented on #110
Quick update:
I added component state and set it onScroll.

`
class BaseTree extends Component {
...
state = { scrollPosition: 0, };
...
listRef = React.createRef();
outerRef = React.createRef();
...
render {
const { nodes, nodesFetching, nodesFetchingFailed, expandedNodes, selectedNode } = this.props;
  return (
      <AutoSizer>
        {({ height, width }) => (
          <List
            ref={

[2019-08-22 18:55] piecyk commented on #110
@ranihorev `forward ref` to react-window is need for functions like  `scrollTo, scrollToItem` to work

@ChristopherHButler context should work as exactly for this they are build, from docs

But yeah as mention before if you unmount the whole component on route change there is no need to pass the props. Would not store `scrollPosition` on state as you don't need it while scrolling is happening, les

[2019-08-23 00:29] ranihorev commented on #110
@piecyk thanks a lot for the help, I really appreciate it :)

[2019-08-23 11:50] ChristopherHButler commented on #110
Thanks @piecyk That seems to work. There is a slight flicker on mounting after the route change but I can live with it :) I also tried another hack which was to use the className to pass the scrollPosition and set scrollTop in the refSetter of CustomScrollbars:
`if (scrollbarsRef) {
      forwardedRef(scrollbarsRef.view);
      // HACK
      scrollbarsRef.scrollTop(className);
    }`
It seems to w

[2019-08-23 13:24] ttamminen commented on #289
Just wanted to inform that I have the same issue.

In my case, the dimensions of a list item change due to the filtering. I think the `itemSize` calculation should re-triggered somehow.

[2019-08-23 16:48] holic commented on #305
In the past, I've solved this by rendering a placeholder for each item/row that contains just the contents of the row but hidden from view (so rendering is super lightweight, effectively a container node and text inside). That way, cmd+f still jumps down the page to ~the right place and the real item/row/cell (and everything around it in the viewport) gets rendered.

[2019-08-23 17:11] bvaughn commented on #305
It doesn't really. Not without kind of abusing/circumventing the API in a way that I'm not sure I would recommend.

[2019-08-27 01:06] spryor opened #312 "For large lists, there seems to be some kind positioning overflow occurring"
See [link ](https://codesandbox.io/s/bvaughnreact-window-fixed-size-list-vertical-x0syd) for an example. Scroll down past roughly 400,000 items and the styling gets messed up. Scroll down to the bottom and it is clear that the items are not aligned correctly with strange artifacts. My guess is this is just a browser problem for numbers this large. Any idea if there is a way to fix this?

Example (

[2019-08-27 01:22] #312 closed, assigned to nobody

[2019-08-28 12:31] Julian-Chu opened #313 "scrolling up automatically after scrolling down manually"
![apply-react-window](https://user-images.githubusercontent.com/7224544/63850546-98f44980-c994-11e9-8f67-e869a30588d7.gif)

Thanks for amazing library.

We are trying to apply react-window to our project, but there is a weird issue. When we scroll down(forward) list, the list itself scrolls back a little automatically(please see git).

We use redux and redux-saga to manage state and data,  data is

[2019-08-28 13:43] devsumanmdn opened #314 "Functions used for scrolling should return a promise"
It'll be really helpful if functions like `scrollToItem(index, alignment)` will return a promise. The use case is after calling scrollToItem there is no obvious way someone can find out when the list-item will be rendered to the DOM.
[code]
I would like to create a PR for this if interested.

[2019-08-29 07:00] krishna724 opened #315 "Can I add margin to the top and bottom of a list?"
Actually I am using react 15 so in that version there is no forwardRefs. Can you please provide any alternative solution.

[2019-08-29 08:51] martingronlund commented on #86
@ranneyd your sticky-table solution looks really great and I'd be very happy to be able to use it. Would you consider releasing a usable api for it on `npm`?

[2019-08-29 13:41] emersonsiega commented on #313
@bvaughn I'm having this same issue. I'm sure that I'm not calling scrollTo

[code]

[code]

[2019-08-29 13:55] emersonsiega commented on #313
Now I see what's wrong... I'm passing an incorrect `itemSize`. Changing it to the right value, works fine!

[2019-08-29 13:59] bvaughn commented on #315
The FAQs show an example of how to do this.

No, sorry. Don't know of a way off the top of my head.

[2019-08-29 13:59] #315 closed

[2019-08-29 14:01] bvaughn commented on #313
That example looks broken. You don't seem to be using the style prop.

[2019-08-29 14:23] emersonsiega commented on #313
Yep, you're right. This was wrong too! Thanks!

[2019-08-29 14:48] bvaughn commented on #313
Without having a way to view a repro of this, I'm going to assume it's something similar causing the problem that @Julian-Chu reported. (Check to make sure you _are_ using the `style` param and that you _aren't_ accidentally calling `scrollTo`.)

[2019-08-29 14:48] #313 closed

[2019-08-29 16:40] mperezguendulain commented on #235
Hi @Steffi3rd, just for said you that RN has some similar to react-window components, that is 'flatlist' or 'virtualizedlist', but don’t have implemented the windowing technique, i. e, render all items (you can review this, inspecting the DOM of your RN app), this results in a not very good performance.
Imagine this: You have a table, this table, has a lot of rows (1000), if you use flatlits o vir

[2019-08-29 16:48] bvaughn commented on #235
RN components like [`FlatList](https://facebook.github.io/react-native/docs/flatlist.html) and [`SectionList`](https://facebook.github.io/react-native/docs/sectionlist) are windowed. Both of those components are wrappers around [`VirtualizedList`](https://facebook.github.io/react-native/docs/virtualizedlist).

From the docs:

[2019-08-29 17:05] mperezguendulain commented on #235
Yes, I had already read this, but still, I did my tests, and render me all the elements, I was looking at the issues reported in the RN repo and found this:
https://github.com/facebook/react-native/issues/18142#issuecomment-437603136

I took the test mentioned in that commentary and I found that the Virtualizedlist render each item.

[2019-08-29 17:13] bvaughn commented on #235
Ah. Sounds like a bug if so then. :(

[2019-08-29 17:20] mperezguendulain commented on #235
Yeah, I think so. I hope they fix it soon. The bad news is they've already closed the issue :(

[2019-08-29 17:23] bvaughn commented on #235
I can help there, at least.

[2019-08-29 17:26] mperezguendulain commented on #235
Yeah, ¡that'd be great! 👍

[2019-08-30 07:16] krishna724 commented on #315
@bvaughn  Thanks. If I will find a way I will raise the PR.

[2019-08-30 20:38] brunolemos opened #316 "Support applying paddings for safe area support"
When adding proper support for the iPhone X safe area in the browser I noticed there wasn't any way to add the paddings to beginning/end of the list in `react-window`.

To enable the safe area add `viewport-fit=cover` to the viewport meta tag:
[code]

The solution could be something equivalent to `FlatList`'s `contentContainerStyle`, but it needs to take the paddings into account when calculating